//= views/header.html

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a href="/" itemprop="item" class="home">
                            <span itemprop="name">Main</span>
                        </a>
                    </li>
                    <li class="active">All artists</li>
                </ol>
                <div class="title-page">
                    <h1 class="text-center">
                        All Artists
                    </h1>
                    <p class="text-center">
                        Find your favorite artists
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="inner-page page-all-artist">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="alphabet">
                    <div class="alphabet-list">
                       <div><a href="">A</a></div>
                       <div><a href="">B</a></div>
                       <div><a href="">C</a></div>
                       <div><a href="">D</a></div>
                       <div><a href="">E</a></div>
                       <div><a href="">F</a></div>
                       <div><a href="">G</a></div>
                       <div><a href="">H</a></div>
                       <div><a href="">I</a></div>
                       <div><a href="">J</a></div>
                       <div><a href="">K</a></div>
                       <div><a href="">L</a></div>
                       <div><a href="">M</a></div>
                       <div><a href="">N</a></div>
                       <div><a href="">O</a></div>
                       <div><a href="">P</a></div>
                       <div><a href="">Q</a></div>
                       <div><a href="">R</a></div>
                       <div><a href="">S</a></div>
                       <div><a href="">T</a></div>
                       <div><a href="">U</a></div>
                       <div><a href="">V</a></div>
                       <div><a href="">W</a></div>
                       <div><a href="">X</a></div>
                       <div><a href="">Y</a></div>
                       <div><a href="">Z</a></div>
                        <div class="search-from">
                            <form action="#">
                                <input type="text" class="form-control" placeholder="Search artists and music grups">
                                <!-- category-change -->
                                <button type="submit" class="btn btn-primary" value="Search">SEARCH</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="element-list row ">
            <div class="col-sm-4">
               <div class="element-item"><a href="">Artsit Name</a></div>
            </div>
            <div class="col-sm-4">
               <div class="element-item"><a href="">Artsit Name</a></div>
            </div>
            <div class="col-sm-4">
               <div class="element-item"><a href="">Artsit Name</a></div>
            </div>
            <div class="col-sm-4">
               <div class="element-item"><a href="">Artsit Name</a></div>
            </div>
            <div class="col-sm-4">
               <div class="element-item"><a href="">Artsit Name</a></div>
            </div>
            <div class="col-sm-4">
               <div class="element-item"><a href="">Artsit Name</a></div>
            </div>
            <div class="col-sm-4">
               <div class="element-item"><a href="">Artsit Name</a></div>
            </div>
            <div class="col-sm-4">
               <div class="element-item"><a href="">Artsit Name</a></div>
            </div>
            <div class="col-sm-4">
               <div class="element-item"><a href="">Artsit Name</a></div>
            </div>
            <div class="col-sm-4">
               <div class="element-item"><a href="">Artsit Name</a></div>
            </div>
            <div class="col-sm-4">
               <div class="element-item"><a href="">Artsit Name</a></div>
            </div>
            <div class="col-sm-4">
               <div class="element-item"><a href="">Artsit Name</a></div>
            </div>
            <div class="col-sm-4">
               <div class="element-item"><a href="">Artsit Name</a></div>
            </div>
            <div class="col-sm-4">
               <div class="element-item"><a href="">Artsit Name</a></div>
            </div>
            <div class="col-sm-4">
               <div class="element-item"><a href="">Artsit Name</a></div>
            </div>
            <div class="col-sm-4">
               <div class="element-item"><a href="">Artsit Name</a></div>
            </div>
            <div class="col-sm-4">
               <div class="element-item"><a href="">Artsit Name</a></div>
            </div>
            <div class="col-sm-4">
               <div class="element-item"><a href="">Artsit Name</a></div>
            </div>
            <div class="col-sm-4">
               <div class="element-item"><a href="">Artsit Name</a></div>
            </div>
            <div class="col-sm-4">
               <div class="element-item"><a href="">Artsit Name</a></div>
            </div>
            <div class="col-sm-4">
               <div class="element-item"><a href="">Artsit Name</a></div>
            </div>
            <div class="col-sm-4">
               <div class="element-item"><a href="">Artsit Name</a></div>
            </div>
            <div class="col-sm-4">
               <div class="element-item"><a href="">Artsit Name</a></div>
            </div>
            <div class="col-sm-4">
               <div class="element-item"><a href="">Artsit Name</a></div>
            </div>
            <div class="col-sm-4">
               <div class="element-item"><a href="">Artsit Name</a></div>
            </div>
            <div class="col-sm-4">
               <div class="element-item"><a href="">Artsit Name</a></div>
            </div>
            <div class="col-sm-4">
               <div class="element-item"><a href="">Artsit Name</a></div>
            </div>
            <div class="col-sm-4">
               <div class="element-item"><a href="">Artsit Name</a></div>
            </div>
            <div class="col-sm-4">
               <div class="element-item"><a href="">Artsit Name</a></div>
            </div>
            <div class="col-sm-4">
                <div class="element-item"><a href="">Artsit Name</a></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button class="back-top btn"><i class="fa fa-angle-up"></i>Back to top</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                //= views/pagination.html
            </div>
        </div>
    </div>
</section>


//= views/footer.html
