<!-- header -->

//= views/header.html

<!-- Top Blog -->
<section class="single-post-title">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a href="/" itemprop="item" class="home">
                            <span itemprop="name">Main</span>
                        </a>
                    </li>
                    <li class="active">Music blog</li>
                </ol>
                <div class="title-page">
                    <h1 class="text-center page-title">
                        All Music Blog
                    </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="blog-list">
                    <div class="blog-list-item flex-row">
                        <div class="blog-list-item-meta col-3">
                            <div class="blog-meta-date day month">31 September</div>
                            <div class="blog-meta-date day year margin-b-15">Monday 2017</div>
                            <div class="blog-list-meta-time">09:00 PM</div>
                        </div>
                        <div class="blog-list-item-data col-9 col-no-padding">
                            <div class="col-md-4 blog-list-item-thumb">
                                <img src="img/blog/1.png" class="img-responsive" alt="Noel Gallagher quits Oasis... but for...">
                            </div>
                            <div class="col-md-8 col-md-8 blog-list-item-text margin-sm-10col-md-8 blog-list-item-text margin-sm-10 margin-sm-10">
                                <h3>Tropicalia! Tropicalia! Tropicalia!</h3>
                                <p>"It takes more than blood to be my brother," said Liam Gallagher, in an interview with the NME. And now, it seems that one of the most infamous partnerships in pop could well be over following the news that Noel Gallagher has quit Oasis... but... really?</p>
                                <p>Its hardly surprising that theres been a scrap in the band, but something tells us that the band are just too old and too comfortable to keep up. Noel Gallagher, more mellow than ten years ago has seemingly let out a big sigh and thought sod this, I cant be arsed anymore.</p>
                                <p>On the Oasis website, Noel has written: "Its with some sadness and great relief to tell you that I quit Oasis tonight. People will</p>

                                <div class="row no-margin col-no-padding">
                                    <div class="col-md-4 col-sm-6 col-xs-12"><a href="" class="btn-primary btn btn-see-more">Read the article</a></div>
                                    <div class="col-md-8 col-sm-6 col-xs-12 margin-xs-15">
                                        <div class="soc-title">Share:</div><div class="sharePopup"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-list-item flex-row">
                        <div class="blog-list-item-meta col-3">
                            <div class="blog-meta-date day month">31 September</div>
                            <div class="blog-meta-date day year margin-b-15">Monday 2017</div>
                            <div class="blog-list-meta-time">09:00 PM</div>
                        </div>
                        <div class="blog-list-item-data col-9 col-no-padding">
                            <div class="col-md-4 blog-list-item-thumb">
                                <img src="img/blog/2.png" class="img-responsive" alt="Noel Gallagher quits Oasis... but for...">
                            </div>
                            <div class="col-md-8 blog-list-item-text margin-sm-10">
                                <h3>The Murmurs of Tension 'Awkward...</h3>
                                <p>"It takes more than blood to be my brother," said Liam Gallagher, in an interview with the NME. And now, it seems that one of the most infamous partnerships in pop could well be over following the news that Noel Gallagher has quit Oasis... but... really?</p>
                                <p>Its hardly surprising that theres been a scrap in the band, but something tells us that the band are just too old and too comfortable to keep up. Noel Gallagher, more mellow than ten years ago has seemingly let out a big sigh and thought sod this, I cant be arsed anymore.</p>
                                <p>On the Oasis website, Noel has written: "Its with some sadness and great relief to tell you that I quit Oasis tonight. People will</p>

                                <div class="row no-margin col-no-padding">
                                    <div class="col-md-4 col-sm-6 col-xs-12"><a href="" class="btn-primary btn btn-see-more">Read the article</a></div>
                                    <div class="col-md-8 col-sm-6 col-xs-12 margin-xs-15">
                                        <div class="soc-title">Share:</div><div class="sharePopup"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-list-item flex-row">
                        <div class="blog-list-item-meta col-3">
                            <div class="blog-meta-date day month">31 September</div>
                            <div class="blog-meta-date day year margin-b-15">Monday 2017</div>
                            <div class="blog-list-meta-time">09:00 PM</div>
                        </div>
                        <div class="blog-list-item-data col-9 col-no-padding">
                            <div class="col-md-4 blog-list-item-thumb">
                                <img src="img/blog/3.png" class="img-responsive" alt="Noel Gallagher quits Oasis... but for...">
                            </div>
                            <div class="col-md-8 blog-list-item-text margin-sm-10">
                                <h3>Noel Gallagher quits Oasis... but for...</h3>
                                <p>"It takes more than blood to be my brother," said Liam Gallagher, in an interview with the NME. And now, it seems that one of the most infamous partnerships in pop could well be over following the news that Noel Gallagher has quit Oasis... but... really?</p>
                                <p>Its hardly surprising that theres been a scrap in the band, but something tells us that the band are just too old and too comfortable to keep up. Noel Gallagher, more mellow than ten years ago has seemingly let out a big sigh and thought sod this, I cant be arsed anymore.</p>
                                <p>On the Oasis website, Noel has written: "Its with some sadness and great relief to tell you that I quit Oasis tonight. People will</p>

                                <div class="row no-margin col-no-padding">
                                    <div class="col-md-4 col-sm-6 col-xs-12"><a href="" class="btn-primary btn btn-see-more">Read the article</a></div>
                                    <div class="col-md-8 col-sm-6 col-xs-12 margin-xs-15">
                                        <div class="soc-title">Share:</div><div class="sharePopup"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-list-item flex-row">
                        <div class="blog-list-item-meta col-3">
                            <div class="blog-meta-date day month">31 September</div>
                            <div class="blog-meta-date day year margin-b-15">Monday 2017</div>
                            <div class="blog-list-meta-time">09:00 PM</div>
                        </div>
                        <div class="blog-list-item-data col-9 col-no-padding">
                            <div class="col-md-4 blog-list-item-thumb">
                                <img src="img/blog/4.png" class="img-responsive" alt="Noel Gallagher quits Oasis... but for...">
                            </div>
                            <div class="col-md-8 blog-list-item-text margin-sm-10">
                                <h3>Summerfest 2017</h3>
                                <p>"It takes more than blood to be my brother," said Liam Gallagher, in an interview with the NME. And now, it seems that one of the most infamous partnerships in pop could well be over following the news that Noel Gallagher has quit Oasis... but... really?</p>
                                <p>Its hardly surprising that theres been a scrap in the band, but something tells us that the band are just too old and too comfortable to keep up. Noel Gallagher, more mellow than ten years ago has seemingly let out a big sigh and thought sod this, I cant be arsed anymore.</p>
                                <p>On the Oasis website, Noel has written: "Its with some sadness and great relief to tell you that I quit Oasis tonight. People will</p>

                                <div class="row no-margin col-no-padding">
                                    <div class="col-md-4 col-sm-6 col-xs-12"><a href="" class="btn-primary btn btn-see-more">Read the article</a></div>
                                    <div class="col-md-8 col-sm-6 col-xs-12 margin-xs-15">
                                        <div class="soc-title">Share:</div><div class="sharePopup"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-tb-12">
            <div class="col-md-12 text-center">
                //= views/pagination.html
            </div>
        </div>
    </div>
</section>
<!-- End Top Blog -->


<!-- Blog List -->
<section class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>
</section>
<!-- //Blog List -->

<!-- footer -->

//= views/footer.html