//= views/header.html

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a href="/" itemprop="item" class="home">
                            <span itemprop="name">Main</span>
                        </a>
                    </li>
                    <li class="active">Upcoming Jazz / Blues Concerts</li>
                </ol>
                <div class="title-page">
                    <h1 class="text-center">
                        Upcoming Jazz / Blues Concerts
                    </h1>
                    <p class="text-center">
                        What is your favorite genre of music, Jazz / Blues? Find out best cheap tickets on our website.
                    </p>
                </div>
                <div class="top-search-form">
                    <form action="#">
                        <input id="search-category" type="text" class="form-control" placeholder="Search performers, events, venues and locations">
                        <!-- category-change -->
                        <button type="submit" class="btn btn-primary" value="Search">SEARCH</button>
                    </form>
                    <div class="concert-search">
                        <ul>
                            <!-- js content generated -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="inner-page category">
    <div class="container">
        <div class="row category-row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 category-item">
                <div class="buy-ticket">
                    <div class="ticket-thumb">
                        <img src="img/Layer_01.png" class="img-responsive" alt="">
                    </div>
                    <div class="row ticket-atts ">
                        <div class="col-sm-12 margin-xs-5">
                            <div class="ticket-author-name">Selena Gomes</div>
                            <div class="ticket-venue margin-tb-12">
                                NSK Olimpia Olimpia nsk nsks
                            </div>
                            <div class="ticket-dates margin-tb-12">
                                <ul>
                                    <!-- not more than 2 dates -->
                                    <li>07 Aug 2017</li>
                                    <li>06 Aug 2017</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 margin-xs-5 text-left">
                            <a href="" class="btn-primary btn">Buy Ticket</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 category-item">
                <div class="buy-ticket">
                    <div class="ticket-thumb">
                        <img src="img/Layer_01.png" class="img-responsive" alt="">
                    </div>
                    <div class="row ticket-atts ">
                        <div class="col-sm-12 margin-xs-5">
                            <div class="ticket-author-name">Selena Gomes</div>
                            <div class="ticket-venue margin-tb-12">
                                NSK Olimpia Olimpia nsk nsks
                            </div>
                            <div class="ticket-dates margin-tb-12">
                                <ul>
                                    <!-- not more than 2 dates -->
                                    <li>07 Aug 2017</li>
                                    <li>06 Aug 2017</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 margin-xs-5 text-left">
                            <a href="" class="btn-primary btn">Buy Ticket</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 category-item">
                <div class="buy-ticket">
                    <div class="ticket-thumb">
                        <img src="img/Layer_01.png" class="img-responsive" alt="">
                    </div>
                    <div class="row ticket-atts ">
                        <div class="col-sm-12 margin-xs-5">
                            <div class="ticket-author-name">Selena Gomes</div>
                            <div class="ticket-venue margin-tb-12">
                                NSK Olimpia Olimpia nsk nsks
                            </div>
                            <div class="ticket-dates margin-tb-12">
                                <ul>
                                    <!-- not more than 2 dates -->
                                    <li>07 Aug 2017</li>
                                    <li>06 Aug 2017</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 margin-xs-5 text-left">
                            <a href="" class="btn-primary btn">Buy Ticket</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 category-item">
                <div class="buy-ticket">
                    <div class="ticket-thumb">
                        <img src="img/Layer_01.png" class="img-responsive" alt="">
                    </div>
                    <div class="row ticket-atts ">
                        <div class="col-sm-12 margin-xs-5">
                            <div class="ticket-author-name">Selena Gomes</div>
                            <div class="ticket-venue margin-tb-12">
                                NSK Olimpia Olimpia nsk nsks
                            </div>
                            <div class="ticket-dates margin-tb-12">
                                <ul>
                                    <!-- not more than 2 dates -->
                                    <li>07 Aug 2017</li>
                                    <li>06 Aug 2017</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 margin-xs-5 text-left">
                            <a href="" class="btn-primary btn">Buy Ticket</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row category-row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 category-item">
                <div class="buy-ticket">
                    <div class="ticket-thumb">
                        <img src="img/Layer_01.png" class="img-responsive" alt="">
                    </div>
                    <div class="row ticket-atts ">
                        <div class="col-sm-12 margin-xs-5">
                            <div class="ticket-author-name">Selena Gomes</div>
                            <div class="ticket-venue margin-tb-12">
                                NSK Olimpia Olimpia nsk nsks
                            </div>
                            <div class="ticket-dates margin-tb-12">
                                <ul>
                                    <!-- not more than 2 dates -->
                                    <li>07 Aug 2017</li>
                                    <li>06 Aug 2017</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 margin-xs-5 text-left">
                            <a href="" class="btn-primary btn">Buy Ticket</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 category-item">
                <div class="buy-ticket">
                    <div class="ticket-thumb">
                        <img src="img/Layer_01.png" class="img-responsive" alt="">
                    </div>
                    <div class="row ticket-atts ">
                        <div class="col-sm-12 margin-xs-5">
                            <div class="ticket-author-name">Selena Gomes</div>
                            <div class="ticket-venue margin-tb-12">
                                NSK Olimpia Olimpia nsk nsks
                            </div>
                            <div class="ticket-dates margin-tb-12">
                                <ul>
                                    <!-- not more than 2 dates -->
                                    <li>07 Aug 2017</li>
                                    <li>06 Aug 2017</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 margin-xs-5 text-left">
                            <a href="" class="btn-primary btn">Buy Ticket</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 category-item">
                <div class="buy-ticket">
                    <div class="ticket-thumb">
                        <img src="img/Layer_01.png" class="img-responsive" alt="">
                    </div>
                    <div class="row ticket-atts ">
                        <div class="col-sm-12 margin-xs-5">
                            <div class="ticket-author-name">Selena Gomes</div>
                            <div class="ticket-venue margin-tb-12">
                                NSK Olimpia Olimpia nsk nsks
                            </div>
                            <div class="ticket-dates margin-tb-12">
                                <ul>
                                    <!-- not more than 2 dates -->
                                    <li>07 Aug 2017</li>
                                    <li>06 Aug 2017</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 margin-xs-5 text-left">
                            <a href="" class="btn-primary btn">Buy Ticket</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 category-item">
                <div class="buy-ticket">
                    <div class="ticket-thumb">
                        <img src="img/Layer_01.png" class="img-responsive" alt="">
                    </div>
                    <div class="row ticket-atts ">
                        <div class="col-sm-12 margin-xs-5">
                            <div class="ticket-author-name">Selena Gomes</div>
                            <div class="ticket-venue margin-tb-12">
                                NSK Olimpia Olimpia nsk nsks
                            </div>
                            <div class="ticket-dates margin-tb-12">
                                <ul>
                                    <!-- not more than 2 dates -->
                                    <li>07 Aug 2017</li>
                                    <li>06 Aug 2017</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 margin-xs-5 text-left">
                            <a href="" class="btn-primary btn">Buy Ticket</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row category-row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 category-item">
                <div class="buy-ticket">
                    <div class="ticket-thumb">
                        <img src="img/Layer_01.png" class="img-responsive" alt="">
                    </div>
                    <div class="row ticket-atts ">
                        <div class="col-sm-12 margin-xs-5">
                            <div class="ticket-author-name">Selena Gomes</div>
                            <div class="ticket-venue margin-tb-12">
                                NSK Olimpia Olimpia nsk nsks
                            </div>
                            <div class="ticket-dates margin-tb-12">
                                <ul>
                                    <!-- not more than 2 dates -->
                                    <li>07 Aug 2017</li>
                                    <li>06 Aug 2017</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 margin-xs-5 text-left">
                            <a href="" class="btn-primary btn">Buy Ticket</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 category-item">
                <div class="buy-ticket">
                    <div class="ticket-thumb">
                        <img src="img/Layer_01.png" class="img-responsive" alt="">
                    </div>
                    <div class="row ticket-atts ">
                        <div class="col-sm-12 margin-xs-5">
                            <div class="ticket-author-name">Selena Gomes</div>
                            <div class="ticket-venue margin-tb-12">
                                NSK Olimpia Olimpia nsk nsks
                            </div>
                            <div class="ticket-dates margin-tb-12">
                                <ul>
                                    <!-- not more than 2 dates -->
                                    <li>07 Aug 2017</li>
                                    <li>06 Aug 2017</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 margin-xs-5 text-left">
                            <a href="" class="btn-primary btn">Buy Ticket</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 category-item">
                <div class="buy-ticket">
                    <div class="ticket-thumb">
                        <img src="img/Layer_01.png" class="img-responsive" alt="">
                    </div>
                    <div class="row ticket-atts ">
                        <div class="col-sm-12 margin-xs-5">
                            <div class="ticket-author-name">Selena Gomes</div>
                            <div class="ticket-venue margin-tb-12">
                                NSK Olimpia Olimpia nsk nsks
                            </div>
                            <div class="ticket-dates margin-tb-12">
                                <ul>
                                    <!-- not more than 2 dates -->
                                    <li>07 Aug 2017</li>
                                    <li>06 Aug 2017</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 margin-xs-5 text-left">
                            <a href="" class="btn-primary btn">Buy Ticket</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 category-item">
                <div class="buy-ticket">
                    <div class="ticket-thumb">
                        <img src="img/Layer_01.png" class="img-responsive" alt="">
                    </div>
                    <div class="row ticket-atts ">
                        <div class="col-sm-12 margin-xs-5">
                            <div class="ticket-author-name">Selena Gomes</div>
                            <div class="ticket-venue margin-tb-12">
                                NSK Olimpia Olimpia nsk nsks
                            </div>
                            <div class="ticket-dates margin-tb-12">
                                <ul>
                                    <!-- not more than 2 dates -->
                                    <li>07 Aug 2017</li>
                                    <li>06 Aug 2017</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 margin-xs-5 text-left">
                            <a href="" class="btn-primary btn">Buy Ticket</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row category-row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 category-item">
                <div class="buy-ticket">
                    <div class="ticket-thumb">
                        <img src="img/Layer_01.png" class="img-responsive" alt="">
                    </div>
                    <div class="row ticket-atts ">
                        <div class="col-sm-12 margin-xs-5">
                            <div class="ticket-author-name">Selena Gomes</div>
                            <div class="ticket-venue margin-tb-12">
                                NSK Olimpia Olimpia nsk nsks
                            </div>
                            <div class="ticket-dates margin-tb-12">
                                <ul>
                                    <!-- not more than 2 dates -->
                                    <li>07 Aug 2017</li>
                                    <li>06 Aug 2017</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 margin-xs-5 text-left">
                            <a href="" class="btn-primary btn">Buy Ticket</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 category-item">
                <div class="buy-ticket">
                    <div class="ticket-thumb">
                        <img src="img/Layer_01.png" class="img-responsive" alt="">
                    </div>
                    <div class="row ticket-atts ">
                        <div class="col-sm-12 margin-xs-5">
                            <div class="ticket-author-name">Selena Gomes</div>
                            <div class="ticket-venue margin-tb-12">
                                NSK Olimpia Olimpia nsk nsks
                            </div>
                            <div class="ticket-dates margin-tb-12">
                                <ul>
                                    <!-- not more than 2 dates -->
                                    <li>07 Aug 2017</li>
                                    <li>06 Aug 2017</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 margin-xs-5 text-left">
                            <a href="" class="btn-primary btn">Buy Ticket</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 category-item">
                <div class="buy-ticket">
                    <div class="ticket-thumb">
                        <img src="img/Layer_01.png" class="img-responsive" alt="">
                    </div>
                    <div class="row ticket-atts ">
                        <div class="col-sm-12 margin-xs-5">
                            <div class="ticket-author-name">Selena Gomes</div>
                            <div class="ticket-venue margin-tb-12">
                                NSK Olimpia Olimpia nsk nsks
                            </div>
                            <div class="ticket-dates margin-tb-12">
                                <ul>
                                    <!-- not more than 2 dates -->
                                    <li>07 Aug 2017</li>
                                    <li>06 Aug 2017</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 margin-xs-5 text-left">
                            <a href="" class="btn-primary btn">Buy Ticket</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 category-item">
                <div class="buy-ticket">
                    <div class="ticket-thumb">
                        <img src="img/Layer_01.png" class="img-responsive" alt="">
                    </div>
                    <div class="row ticket-atts ">
                        <div class="col-sm-12 margin-xs-5">
                            <div class="ticket-author-name">Selena Gomes</div>
                            <div class="ticket-venue margin-tb-12">
                                NSK Olimpia Olimpia nsk nsks
                            </div>
                            <div class="ticket-dates margin-tb-12">
                                <ul>
                                    <!-- not more than 2 dates -->
                                    <li>07 Aug 2017</li>
                                    <li>06 Aug 2017</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 margin-xs-5 text-left">
                            <a href="" class="btn-primary btn">Buy Ticket</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row category-row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 category-item">
                <div class="buy-ticket">
                    <div class="ticket-thumb">
                        <img src="img/Layer_01.png" class="img-responsive" alt="">
                    </div>
                    <div class="row ticket-atts ">
                        <div class="col-sm-12 margin-xs-5">
                            <div class="ticket-author-name">Selena Gomes</div>
                            <div class="ticket-venue margin-tb-12">
                                NSK Olimpia Olimpia nsk nsks
                            </div>
                            <div class="ticket-dates margin-tb-12">
                                <ul>
                                    <!-- not more than 2 dates -->
                                    <li>07 Aug 2017</li>
                                    <li>06 Aug 2017</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 margin-xs-5 text-left">
                            <a href="" class="btn-primary btn">Buy Ticket</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 category-item">
                <div class="buy-ticket">
                    <div class="ticket-thumb">
                        <img src="img/Layer_01.png" class="img-responsive" alt="">
                    </div>
                    <div class="row ticket-atts ">
                        <div class="col-sm-12 margin-xs-5">
                            <div class="ticket-author-name">Selena Gomes</div>
                            <div class="ticket-venue margin-tb-12">
                                NSK Olimpia Olimpia nsk nsks
                            </div>
                            <div class="ticket-dates margin-tb-12">
                                <ul>
                                    <!-- not more than 2 dates -->
                                    <li>07 Aug 2017</li>
                                    <li>06 Aug 2017</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 margin-xs-5 text-left">
                            <a href="" class="btn-primary btn">Buy Ticket</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 category-item">
                <div class="buy-ticket">
                    <div class="ticket-thumb">
                        <img src="img/Layer_01.png" class="img-responsive" alt="">
                    </div>
                    <div class="row ticket-atts ">
                        <div class="col-sm-12 margin-xs-5">
                            <div class="ticket-author-name">Selena Gomes</div>
                            <div class="ticket-venue margin-tb-12">
                                NSK Olimpia Olimpia nsk nsks
                            </div>
                            <div class="ticket-dates margin-tb-12">
                                <ul>
                                    <!-- not more than 2 dates -->
                                    <li>07 Aug 2017</li>
                                    <li>06 Aug 2017</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 margin-xs-5 text-left">
                            <a href="" class="btn-primary btn">Buy Ticket</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 category-item">
                <div class="buy-ticket">
                    <div class="ticket-thumb">
                        <img src="img/Layer_01.png" class="img-responsive" alt="">
                    </div>
                    <div class="row ticket-atts ">
                        <div class="col-sm-12 margin-xs-5">
                            <div class="ticket-author-name">Selena Gomes</div>
                            <div class="ticket-venue margin-tb-12">
                                NSK Olimpia Olimpia nsk nsks
                            </div>
                            <div class="ticket-dates margin-tb-12">
                                <ul>
                                    <!-- not more than 2 dates -->
                                    <li>07 Aug 2017</li>
                                    <li>06 Aug 2017</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 margin-xs-5 text-left">
                            <a href="" class="btn-primary btn">Buy Ticket</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center padding-top-35">
                <button class="btn btn-primary get-more">MORE ARTISTS</button>
            </div>
        </div>
    </div>
</section>

<section class="section see-also col-no-padding padding-top-50">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center section-title">
                    You also may like
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <figure class="effect-roxy">
                    <img src="img/popular_c/city18.png" alt="" class="img-responsive">
                    <figcaption>
                        <div class="city-name">country & folk music</div>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <figure class="effect-roxy">
                    <img src="img/popular_c/city19.png" alt="" class="img-responsive">
                    <figcaption>
                        <div class="city-name">bluegrass music</div>
                    </figcaption>
                    <a href=""></a>
                </figure>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <figure class="effect-roxy">
                    <img src="img/popular_c/city20.png" alt="" class="img-responsive">
                    <figcaption>
                        <div class="city-name">holiday music</div>
                    </figcaption>
                    <a href=""></a>
                </figure>
            </div>
        </div>
    </div>
</section>


<section class="text-section padding-top-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center section-title-text">
                    Jazz & Blues
                </h2>
                <div class="text two-columns body-expand-container">
                    <p>Life is an adventure. Celebrate it with the music that gives you goose bumps. Dive into the
                        amazing atmosphere of live performances and unbelievably good music. The industry has a great
                        variety of genres and types of music to offer.</p>
                    <p>We are proud to present a service that will help music enthusiast get tickets to the most
                        anticipated concerts of this year. Whenever you find it difficult to find the best deal on the
                    </p>
                    <p>It may seem as though every Concert Ticket price is increased because of an unfairly high
                        commission depending, of course, on the popularity of the performer. It is a frequent situation
                        with other services. We, however, assure that
                        you can buy Cheap Concert Tickets with the help of our service. We accomodate our customers with
                        the closest valu e to the initial ticket worth. Concertics can afford that as we buy Concert
                        Tickets as soon as they became available.
                    </p>
                    <div class="visible-xs body-expand-container-hide ex-close">
                        <button id="" class="b" role="button">
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="text-section padding-top-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center section-title-text">
                    Jazz and Blues Music Tickets
                </h2>
                <div class="text two-columns body-expand-container">
                    <p>Life is an adventure. Celebrate it with the music that gives you goose bumps. Dive into the
                        amazing atmosphere of live performances and unbelievably good music. The industry has a great
                        variety of genres and types of music to offer.</p>
                    <p>We are proud to present a service that will help music enthusiast get tickets to the most
                        anticipated concerts of this year. Whenever you find it difficult to find the best deal on the
                    </p>
                    <p>It may seem as though every Concert Ticket price is increased because of an unfairly high
                        commission depending, of course, on the popularity of the performer. It is a frequent situation
                        with other services. We, however, assure that
                        you can buy Cheap Concert Tickets with the help of our service. We accomodate our customers with
                        the closest valu e to the initial ticket worth. Concertics can afford that as we buy Concert
                    </p>
                    <div class="visible-xs body-expand-container-hide ex-close">
                        <button class="b" role="button">
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


//= views/footer.html
