//= views/header.html

<!-- banner -->
<div class="banner-search wow fadeIn">
    <div class="banner-overlay"></div>
    <div class="container text-center">
        <div class="site-title">Millions of Tickets. 65,000+ Events.</div>
        <div class="sub-title">Concertics gets you in.</div>
        <div class="banner-form">
            <form action="#">
                <input type="text" id="banner-form-search" class="form-control" placeholder="Search performers, events, venues and locations ">
                <!-- category-change -->
                <button type="submit" class="btn btn-primary" value="Search">SEARCH</button>
            </form>
            <div class="concert-search">
                <ul>
                    <!-- js content generated -->
                </ul>
            </div>
        </div>
        <!-- banner-form -->
    </div>
    <!-- container -->
</div>
<!-- banner-section -->


<!-- how right now -->

<section class="home-section how wow fadeIn" data-wow-duration="0.4s" data-wow-delay="0.4s">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1 class="section-title">Hot right now</h1>
            </div>
        </div>
        <div class="row">
            <div id="how-slider" class="col-md-12 ticket-slider">
                <div class="">
                    <div class="buy-ticket">
                        <div class="ticket-thumb">
                            <img src="img/Layer_01.png" class="img-responsive" alt="">
                            <div class="ticket-date">
                                <div class="ticket-month">APR</div>
                                <div class="ticket-day">30</div>
                            </div>
                            <div class="ticket-price-range">$150-$1500</div>
                        </div>
                        <div class="row flex-row ticket-atts middle-flex">
                            <div class="col-sm-7 margin-xs-5">
                                <div class="ticket-author-name">Selena Gomes</div>
                                <div class="ticket-venue">
                                    NSK Olimpia Olimpia nsk nsks
                                </div>
                            </div>
                            <div class="col-sm-5 margin-xs-5 text-right">
                                <a href="" class="btn-primary btn">Buy Ticket</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="buy-ticket">
                        <div class="ticket-thumb">
                            <img src="img/Layer_01.png" class="img-responsive" alt="">
                            <div class="ticket-date">
                                <div class="ticket-month">JUN</div>
                                <div class="ticket-day">07</div>
                            </div>
                            <div class="ticket-price-range">$150-$1500</div>
                        </div>
                        <div class="row flex-row ticket-atts middle-flex">
                            <div class="col-sm-7 margin-xs-5">
                                <div class="ticket-author-name">Drake</div>
                                <div class="ticket-venue">
                                    Walt Disney Concert...
                                </div>
                            </div>
                            <div class="col-sm-5 margin-xs-5 text-right">
                                <a href="" class="btn-primary btn">Buy Ticket</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="buy-ticket">
                        <div class="ticket-thumb">
                            <img src="img/Layer_01.png" class="img-responsive" alt="">
                            <div class="ticket-date">
                                <div class="ticket-month">OCT</div>
                                <div class="ticket-day">01</div>
                            </div>
                            <div class="ticket-price-range">$150-$1500</div>
                        </div>
                        <div class="row flex-row ticket-atts middle-flex">
                            <div class="col-sm-7 margin-xs-5">
                                <div class="ticket-author-name">Nicki Minaj</div>
                                <div class="ticket-venue">
                                    National Theater and...
                                </div>
                            </div>
                            <div class="col-sm-5 margin-xs-5 text-right">
                                <a href="" class="btn-primary btn">Buy Ticket</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="buy-ticket">
                        <div class="ticket-thumb">
                            <img src="img/Layer_01.png" class="img-responsive" alt="">
                            <div class="ticket-date">
                                <div class="ticket-month">APR</div>
                                <div class="ticket-day">17</div>
                            </div>
                            <div class="ticket-price-range">$150-$1500</div>
                        </div>
                        <div class="row flex-row ticket-atts middle-flex">
                            <div class="col-sm-7 margin-xs-5">
                                <div class="ticket-author-name">Selena Gomes</div>
                                <div class="ticket-venue">
                                    NSK Olimpia
                                </div>
                            </div>
                            <div class="col-sm-5 margin-xs-5 text-right">
                                <a href="" class="btn-primary btn">Buy Ticket</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="buy-ticket">
                        <div class="ticket-thumb">
                            <img src="img/Layer_01.png" class="img-responsive" alt="">
                            <div class="ticket-date">
                                <div class="ticket-month">APR</div>
                                <div class="ticket-day">17</div>
                            </div>
                            <div class="ticket-price-range">$150-$1500</div>
                        </div>
                        <div class="row flex-row ticket-atts middle-flex">
                            <div class="col-sm-7 margin-xs-5">
                                <div class="ticket-author-name">Selena Gomes</div>
                                <div class="ticket-venue">
                                    NSK Olimpia
                                </div>
                            </div>
                            <div class="col-sm-5 margin-xs-5 text-right">
                                <a href="" class="btn-primary btn">Buy Ticket</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- //how right now -->

<!-- Categories -->

<section class="home-section categories wow fadeIn" data-wow-duration="0.4s" data-wow-delay="0.4s">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">Сategories</div>
            </div>
        </div>
        //= views/cats.html
    </div>
</section>


<!-- Popular Venues-->
<section class="home-section popular-venus wow fadeIn" data-wow-duration="0.2s" data-wow-delay="0.2s">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h3>Popular Venues</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ticket-slider">
                <div class="">
                    <div class="buy-ticket">
                        <div class="ticket-thumb">
                            <img src="img/Layer_01.png" class="img-responsive" alt="">
                        </div>
                        <div class="row flex-row ticket-atts middle-flex">
                            <div class="col-sm-7 margin-xs-5">
                                <div class="ticket-author-name">3rd & Lindsley</div>
                                <div class="ticket-venue">
                                    Nashville, Tennessee
                                </div>
                            </div>
                            <div class="col-sm-5 margin-xs-5 text-right">
                                <div class="events-count">9</div>
                                <div class="events-type">events</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="buy-ticket">
                        <div class="ticket-thumb">
                            <img src="img/Layer_01.png" class="img-responsive" alt="">
                        </div>
                        <div class="row flex-row ticket-atts middle-flex">
                            <div class="col-sm-7 margin-xs-5">
                                <div class="ticket-author-name">AT&T Stadium</div>
                                <div class="ticket-venue">
                                    Arlington, Texas
                                </div>
                            </div>
                            <div class="col-sm-5 margin-xs-5 text-right">
                                <div class="events-count">19</div>
                                <div class="events-type">events</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="buy-ticket">
                        <div class="ticket-thumb">
                            <img src="img/Layer_01.png" class="img-responsive" alt="">
                        </div>
                        <div class="row flex-row ticket-atts middle-flex">
                            <div class="col-sm-7 margin-xs-5">
                                <div class="ticket-author-name">Hippodrome Theatre...</div>
                                <div class="ticket-venue">
                                    Baltimore, Maryland
                                </div>
                            </div>
                            <div class="col-sm-5 margin-xs-5 text-right">
                                <div class="events-count">96</div>
                                <div class="events-type">events</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="buy-ticket">
                        <div class="ticket-thumb">
                            <img src="img/Layer_01.png" class="img-responsive" alt="">
                        </div>
                        <div class="row flex-row ticket-atts middle-flex">
                            <div class="col-sm-7 margin-xs-5">
                                <div class="ticket-author-name">Selena Gomes</div>
                                <div class="ticket-venue">
                                    NSK Olimpia
                                </div>
                            </div>
                            <div class="col-sm-5 margin-xs-5 text-right">
                                <div class="events-count">96</div>
                                <div class="events-type">events</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="buy-ticket">
                        <div class="ticket-thumb">
                            <img src="img/Layer_01.png" class="img-responsive" alt="">
                        </div>
                        <div class="row flex-row ticket-atts middle-flex">
                            <div class="col-sm-7 margin-xs-5">
                                <div class="ticket-author-name">Selena Gomes</div>
                                <div class="ticket-venue">
                                    NSK Olimpia
                                </div>
                            </div>
                            <div class="col-sm-5 margin-xs-5 text-right">
                                <div class="events-count">91</div>
                                <div class="events-type">events</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //Popular Venues -->

<section class="home-section find-event wow fadeIn" data-wow-duration="0.4s" data-wow-delay="0.4s">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="section-title">Find event</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="find-event-wrapper">
                    <div class="row popular">
                        <div class="col-sm-3 margin-xs-15">
                            <h3 class="title">Popular Cities</h3>
                        </div>
                        <div class="col-sm-9">
                            <ul class="cities-list body-expand-container">
                                <li>
                                    <a href="">Chicago</a>
                                </li>
                                <li>
                                    <a href="">Boston</a>
                                </li>
                                <li>
                                    <a href="">Phoenix</a>
                                </li>
                                <li>
                                    <a href="">New York</a>
                                </li>
                                <li>
                                    <a href="">Atlanta</a>
                                </li>
                                <li>
                                    <a href="">San Diego</a>
                                </li>
                                <li>
                                    <a href="">Chicago</a>
                                </li>
                                <li>
                                    <a href="">Denver</a>
                                </li>
                                <li>
                                    <a href="">Tampa</a>
                                </li>
                                <li>
                                    <a href="">Orlando</a>
                                </li>
                                <li>
                                    <a href="">Seattle</a>
                                </li>
                                <li>
                                    <a href="">Houston</a>
                                </li>
                                <li>
                                    <a href="">Las Vegas</a>
                                </li>
                                <li>
                                    <a href="">Los Angeles</a>
                                </li>
                                <li>
                                    <a href="">San Francisco</a>
                                </li>
                                <li class="see-more">
                                    <a href="">See more</a>
                                </li>
                                <div class="visible-xs body-expand-container-hide ex-close">
                                    <button class="b" role="button">
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div class="row by-state">
                        <div class="col-sm-3 margin-xs-15">
                            <h3 class="title">
                                Concerts By State
                            </h3>
                        </div>
                        <div class="col-sm-9">
                            <ul class="cities-list body-expand-container">
                                <li>
                                    <a href="">Florida</a>
                                </li>
                                <li>
                                    <a href="">Georgia</a>
                                </li>
                                <li>
                                    <a href="">Illinois</a>
                                </li>
                                <li>
                                    <a href="">New York</a>
                                </li>
                                <li>
                                    <a href="">Virginia</a>
                                </li>
                                <li>
                                    <a href="">Texas</a>
                                </li>
                                <li>
                                    <a href="">Miami</a>
                                </li>
                                <li>
                                    <a href="">Denver</a>
                                </li>
                                <li>
                                    <a href="">Indiana</a>
                                </li>
                                <li>
                                    <a href="">Ohio</a>
                                </li>
                                <li>
                                    <a href="">Michigan</a>
                                </li>
                                <li>
                                    <a href="">Alabama</a>
                                </li>
                                <li>
                                    <a href="">Tennessee</a>
                                </li>
                                <li>
                                    <a href="">Massachusetts</a>
                                </li>
                                <li>
                                    <a href="">Pennsylvania</a>
                                </li>
                                <li class="see-more">
                                    <a href="">See more</a>
                                </li>

                                <div class="visible-xs body-expand-container-hide ex-close">
                                    <button class="b" role="button">
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="home-text home-section wow fadeIn" data-wow-duration="0.4s" data-wow-delay="0.4s">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center section-title">
                    Concertics
                </div>
                <div class="text two-columns body-expand-container">
                    <p>Life is an adventure. Celebrate it with the music that gives you goose bumps. Dive into the
                        amazing atmosphere of live performances and unbelievably good music. The industry has a great
                        variety of genres and types of music to offer.
                        Are you a fan of the soothing music or do you love to jump through the roof to the beats of the
                        most popular dance tracks? An appreciative fan can always find a great concert to attend. Get
                        energized and emotional; get overwhelmed
                        with the wonderful experience… Live!</p>
                    <p>We are proud to present a service that will help music enthusiast get tickets to the most
                        anticipated concerts of this year. Whenever you find it difficult to find the best deal on the
                        concerts of your favorite and beloved artists
                        in 2017, Concertics is here to help you. We carry a huge variety of Concert Tickets to satisfy
                        the most demanding of tastes. We deeply explore the market to find the best shows and the best
                        prices. Make sure to select a Concert
                        Ticket in accordance to your needs and preferences. If you are a huge fan, a fan zone or a
                        standing circle is the best variant. However, if you have a higher value for your personal
                        space, the seating</p>
                    zone will suit you better. Do not hesitate to make an early order as the best seats are selling out
                    the fastest.
                    <p>It may seem as though every Concert Ticket price is increased because of an unfairly high
                        commission depending, of course, on the popularity of the performer. It is a frequent situation
                        with other services. We, however, assure that
                        you can buy Cheap Concert Tickets with the help of our service. We accomodate our customers with
                        the closest valu e to the initial ticket worth. Concertics can afford that as we buy Concert
                        Tickets as soon as they became available.
                        We may even offer a substantive Discount on your Concert Tickets, if you buy two or more. We
                        understand how important for you and your family and friends some of the shows may be. Our
                        service also provides an impressive number
                        of tickets for sale for almost every show for our loyal customers. You no longer have to browse
                        through various resources to find the best deal on a coveted concert. Concertics satisfies the
                        most diverse music needs. We will help
                        you get the best deals from around the world for the season of 2017. </p>

                    <div class="visible-xs body-expand-container-hide ex-close">
                        <button id="" class="b" role="button">
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


//= views/footer.html
