//= views/header.html

<section class="single-post-title ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a href="/" itemprop="item" class="home">
                            <span itemprop="name">Main</span>
                        </a>
                    </li>
                    <li class="active">Upcoming Jazz / Blues Concerts</li>
                </ol>
            </div>
        </div>
        <div class="row flex-row margin-t-45">
            <div class="col-md-6 post-title-wrap">
                <div class="post-title">
                    <h1 class="">
                        Paramount Theatre - Rutland Tickets
                    </h1>
                    <p class="">
                        Paramount Theatre - Rutland is a very nice venue to enjoy a wonderful musical
                        performance,exquisite sound.
                    </p>
                </div>
            </div>
            <div class="col-md-6 post-img-wrap">
                <img src="img/single_venue/single-venue.png" alt="" class="img-responsive">
            </div>
        </div>
    </div>
</section>

<section class="inner-page single-city-content text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h2>Schedule Paramount Theatre - Rutland</h2>
            </div>
        </div>

        <!-- tickets list -->
        <div class="row tickets-list padding-top-35">
            <div class="col-md-12">
                <table id="list" class="event table-striped table-hover">
                    <tbody>
                        <tr>
                            <td class="event-timedate col-md-3">
                                <div class="event-date">
                                    31 August, Wednesday 2017
                                </div>
                                <div class="event-time">
                                    08:00 PM
                                </div>
                            </td>
                            <td class="event-location col-md-7">
                                <div class="event-author">
                                    <div class="separator-wrap">Chris Isaak</div>
                                </div>
                            </td>
                            <td class="event-btn col-md-2">
                                <a href="" class="btn btn-primary btn-block">Buy <span class="hidden-xs">Ticket</span></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="event-timedate col-md-3">
                                <div class="event-date">
                                    31 August, Wednesday 2017
                                </div>
                                <div class="event-time">
                                    08:15 PM
                                </div>
                            </td>
                            <td class="event-location col-md-7">
                                <div class="event-author">
                                    <div class="separator-wrap">Colin Hay</div>
                                </div>
                            </td>
                            <td class="event-btn col-md-2">
                                <a href="" class="btn btn-primary btn-block">Buy <span class="hidden-xs">Ticket</span></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="event-timedate col-md-3">
                                <div class="event-date">
                                    31 August, Wednesday 2017
                                </div>
                                <div class="event-time">
                                    09:25 PM
                                </div>
                            </td>
                            <td class="event-location col-md-7">
                                <div class="event-author">
                                    <div class="separator-wrap">Pink Martini</div>
                                </div>
                            </td>
                            <td class="event-btn col-md-2">
                                <a href="" class="btn btn-primary btn-block">Buy <span class="hidden-xs">Ticket</span></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="event-timedate col-md-3">
                                <div class="event-date">
                                    31 August, Wednesday 2017
                                </div>
                                <div class="event-time">
                                    09:40 PM
                                </div>
                            </td>
                            <td class="event-location col-md-7">
                                <div class="event-author">
                                    <div class="separator-wrap">Neverland</div>
                                </div>
                            </td>
                            <td class="event-btn col-md-2">
                                <a href="" class="btn btn-primary btn-block">Buy <span class="hidden-xs">Ticket</span></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="event-timedate col-md-3">
                                <div class="event-date">
                                    31 August, Wednesday 2017
                                </div>
                                <div class="event-time">
                                    12:00 PM
                                </div>
                            </td>
                            <td class="event-location col-md-7">
                                <div class="event-author">
                                    <div class="separator-wrap">The Wailers</div>
                                </div>
                            </td>
                            <td class="event-btn col-md-2">
                                <a href="" class="btn btn-primary btn-block">Buy <span class="hidden-xs">Ticket</span></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="event-timedate col-md-3">
                                <div class="event-date">
                                    31 August, Wednesday 2017
                                </div>
                                <div class="event-time">
                                    09:00 PM
                                </div>
                            </td>
                            <td class="event-location col-md-7">
                                <div class="event-author">
                                    <div class="separator-wrap">George Thorogood and The Destroyers, George Thorogood</div>
                                </div>
                            </td>
                            <td class="event-btn col-md-2">
                                <a href="" class="btn btn-primary btn-block">Buy <span class="hidden-xs">Ticket</span></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="event-timedate col-md-3">
                                <div class="event-date">
                                    31 August, Wednesday 2017
                                </div>
                                <div class="event-time">
                                    09:00 PM
                                </div>
                            </td>
                            <td class="event-location col-md-7">
                                <div class="event-author">
                                    <div class="separator-wrap"> John Mayall</div>
                                </div>
                            </td>
                            <td class="event-btn col-md-2">
                                <a href="" class="btn btn-primary btn-block">Buy <span class="hidden-xs">Ticket</span></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="event-timedate col-md-3">
                                <div class="event-date">
                                    31 August, Wednesday 2017
                                </div>
                                <div class="event-time">
                                    09:00 PM
                                </div>
                            </td>
                            <td class="event-location col-md-7">
                                <div class="event-author">
                                    <div class="separator-wrap">Terri Clark</div>
                                </div>
                            </td>
                            <td class="event-btn col-md-2">
                                <a href="" class="btn btn-primary btn-block">Buy <span class="hidden-xs">Ticket</span></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="event-timedate col-md-3">
                                <div class="event-date">
                                    31 August, Wednesday 2017
                                </div>
                                <div class="event-time">
                                    09:00 PM
                                </div>
                            </td>
                            <td class="event-location col-md-7">
                                <div class="event-author">
                                    <div class="separator-wrap"> John Mayall</div>
                                </div>
                            </td>
                            <td class="event-btn col-md-2">
                                <a href="" class="btn btn-primary btn-block">Buy <span class="hidden-xs">Ticket</span></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="event-timedate col-md-3">
                                <div class="event-date">
                                    31 August, Wednesday 2017
                                </div>
                                <div class="event-time">
                                    09:00 PM
                                </div>
                            </td>
                            <td class="event-location col-md-7">
                                <div class="event-author">
                                    <div class="separator-wrap"> John Mayall</div>
                                </div>
                            </td>
                            <td class="event-btn col-md-2">
                                <a href="" class="btn btn-primary btn-block">Buy <span class="hidden-xs">Ticket</span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- end -->

        <div class="row padding-top-35 hidden-xs">
            <div class="col-xs-12 text-center">
                <a class="btn-primary btn btn-see-more">
                    MORE TICKETS
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Bottom text -->
<section class="text-section padding-top-35">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text two-columns body-expand-container">
                    <p>Life is an adventure. Celebrate it with the music that gives you goose bumps. Dive into the
                        amazing atmosphere of live performances and unbelievably good music. The industry has a great
                        variety of genres and types of music to offer.</p>
                    <p>It may you can buy Cheap Concert Tickets with the help of our service. We accomodate our
                        customers with
                        the closest valu e to the initial ticket worth. Concertics can afford that as we buy Concert
                    </p>
                    <div class="visible-xs body-expand-container-hide ex-close">
                        <button class="b" role="button">
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- END -->

<section class="text-section padding-top-35 chart">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="title">
                    Paramount Theatre - Rutland Seating Chart
                </h2>

                <div class="chart-img">
                    <img src="img/Paramount_seating_chart.png" class="img-responsive"
                         alt="Paramount Theatre - Rutland Seating Chart">
                </div>

            </div>
        </div>
    </div>
</section>


//= views/footer.html
