//= views/header.html

<section class="single-post-title ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a href="/" itemprop="item" class="home">
                            <span itemprop="name">Main</span>
                        </a>
                    </li>
                    <li class="active">Upcoming Jazz / Blues Concerts</li>
                </ol>
            </div>
        </div>
        <div class="row flex-row margin-tb-45">
            <div class="col-md-6 post-title-wrap">
                <div class="post-title">
                    <h1 class="">
                        Concerts in New York & Events
                    </h1>
                    <p class="">
                        New York Concerts Calendar and Tickets
                    </p>
                </div>
            </div>
            <div class="col-md-6 post-img-wrap">
                <img src="img/lindie-botes-260286.png" alt="" class="img-responsive">
            </div>
        </div>
    </div>
</section>

<!-- Pick month block -->
<section class="pick-month">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <div class="pick-title">
                    Pick Month:
                </div>
            </div>
            <div class="col-sm-10 text-justify">
                <ul class="flex-row flex-space">
                    <li><a href="">May</a></li>
                    <li><a href="">June</a></li>
                    <li><a href="">July</a></li>
                    <li><a href="">August</a></li>
                    <li><a href="">September</a></li>
                    <li><a href="">October</a></li>
                    <li><a href="">Novemver</a></li>
                    <li><a href="">December</a></li>
                    <li><a href="">January</a></li>
                    <li><a href="">Aprill</a></li>
                    <li><a href="">March</a></li>
                    <li><a href="">February</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End -->

<section class="inner-page single-city-content text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 single-city-top">
                <h2>Concerts in New York for May 2017</h2>
                <p>
                    May is full of warm days. The sky is clear and people feel that the summer is just around the
                    corner. Without any doubts, such weather brings a good mood. Choose one of the festivals in your
                    city in order to be in the vein of enjoyment for a long time!
                </p>
            </div>
        </div>

        <!-- tickets list -->
        <div class="row tickets-list padding-top-35">
            <div class="col-md-12">
                <table id="list" class="event table-striped table-hover">
                    <tbody>
                        <tr itemscope="" itemtype="http://schema.org/MusicEvent">
                            <td class="event-timedate col-md-3">
                                <div class="event-date">
                                    31 August, Wednesday 2017
                                    <meta itemprop="startDate" content="2017-08-31">
                                </div>
                                <div class="event-time">
                                    09:00 PM
                                </div>
                            </td>
                            <td class="event-location col-md-7">
                                <div class="event-author" itemprop="name">
                                    <div class="separator-wrap"> Saved By The 90s Party</div>
                                </div>
                                <div class="address">
                                    <div class="event-city" itemprop="location" itemscope="" itemtype="http://schema.org/Place">
                                        <div class="separator-wrap" itemprop="name">
                                            Marlin Room at Webster Hall
                                        </div>
                                        <div class="event-addres hidden" itemprop="address" itemscope=""
                                             itemtype="http://schema.org/PostalAddress">
                                            <span class="hidden" itemprop="addressLocality">New York,</span>
                                            <span class="hidden" itemprop="addressRegion">New York</span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="event-btn col-md-2">
                                <a itemprop="url" href="" class="btn btn-primary btn-block">Buy <span class="hidden-xs">Ticket</span></a>
                            </td>
                        </tr>
                        <tr itemscope="" itemtype="http://schema.org/MusicEvent">
                            <td class="event-timedate col-md-3">
                                <div class="event-date">
                                    31 August, Wednesday 2017
                                    <meta itemprop="startDate" content="2017-08-31">
                                </div>
                                <div class="event-time">
                                    09:00 PM
                                </div>
                            </td>
                            <td class="event-location col-md-7">
                                <div class="event-author" itemprop="name">
                                    <div class="separator-wrap">
                                        Brother Ali
                                    </div>
                                </div>
                                <div class="address">
                                    <div class="event-city" itemprop="location" itemscope="" itemtype="http://schema.org/Place">
                                        <div class="separator-wrap" itemprop="name">
                                            Bowery Ballroom
                                        </div>
                                        <div class="event-addres hidden" itemprop="address" itemscope=""
                                             itemtype="http://schema.org/PostalAddress">
                                            <span class="hidden" itemprop="addressLocality">New York,</span>
                                            <span class="hidden" itemprop="addressRegion">New York</span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="event-btn col-md-2">
                                <a itemprop="url" href="" class="btn btn-primary btn-block">Buy <span class="hidden-xs">Ticket</span></a>
                            </td>
                        </tr>
                        <tr itemscope="" itemtype="http://schema.org/MusicEvent">
                            <td class="event-timedate col-md-3">
                                <div class="event-date">
                                    31 August, Wednesday 2017
                                    <meta itemprop="startDate" content="2017-08-31">
                                </div>
                                <div class="event-time">
                                    09:00 PM
                                </div>
                            </td>
                            <td class="event-location col-md-7">
                                <div class="event-author" itemprop="name">
                                    <div class="separator-wrap">Russ</div>
                                </div>
                                <div class="address">
                                    <div class="event-city" itemprop="location" itemscope="" itemtype="http://schema.org/Place">
                                        <div class="separator-wrap" itemprop="name">
                                            Terminal 5
                                        </div>
                                        <div class="event-addres hidden" itemprop="address" itemscope=""
                                             itemtype="http://schema.org/PostalAddress">
                                            <span class="hidden" itemprop="addressLocality">New York,</span>
                                            <span class="hidden" itemprop="addressRegion">New York</span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="event-btn col-md-2">
                                <a itemprop="url" href="" class="btn btn-primary btn-block">Buy <span class="hidden-xs">Ticket</span></a>
                            </td>
                        </tr>
                        <tr itemscope="" itemtype="http://schema.org/MusicEvent">
                            <td class="event-timedate col-md-3">
                                <div class="event-date">
                                    31 August, Wednesday 2017
                                    <meta itemprop="startDate" content="2017-08-31">
                                </div>
                                <div class="event-time">
                                    09:00 PM
                                </div>
                            </td>
                            <td class="event-location col-md-7">
                                <div class="event-author" itemprop="name">
                                    <div class="separator-wrap">John Mayall</div>
                                </div>
                                <div class="address">
                                    <div class="event-city" itemprop="location" itemscope="" itemtype="http://schema.org/Place">
                                        <div class="separator-wrap" itemprop="name">
                                            Iridium Jazz Club
                                        </div>
                                        <div class="event-addres hidden" itemprop="address" itemscope=""
                                             itemtype="http://schema.org/PostalAddress">
                                            <span class="hidden" itemprop="addressLocality">New York,</span>
                                            <span class="hidden" itemprop="addressRegion">New York</span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="event-btn col-md-2">
                                <a itemprop="url" href="" class="btn btn-primary btn-block">Buy <span class="hidden-xs">Ticket</span></a>
                            </td>
                        </tr>
                        <tr itemscope="" itemtype="http://schema.org/MusicEvent">
                            <td class="event-timedate col-md-3">
                                <div class="event-date">
                                    31 August, Wednesday 2017
                                    <meta itemprop="startDate" content="2017-08-31">
                                </div>
                                <div class="event-time">
                                    09:00 PM
                                </div>
                            </td>
                            <td class="event-location col-md-7">
                                <div class="event-author" itemprop="name">
                                    <div class="separator-wrap">The Winter Wonderettes, Marvelous Wonderettes</div>
                                </div>
                                <div class="address">
                                    <div class="event-city" itemprop="location" itemscope="" itemtype="http://schema.org/Place">
                                        <div class="separator-wrap" itemprop="name">
                                            Kirk Theater
                                        </div>
                                        <div class="event-addres hidden" itemprop="address" itemscope=""
                                             itemtype="http://schema.org/PostalAddress">
                                            <span class="hidden" itemprop="addressLocality">New York,</span>
                                            <span class="hidden" itemprop="addressRegion">New York</span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="event-btn col-md-2">
                                <a itemprop="url" href="" class="btn btn-primary btn-block">Buy <span class="hidden-xs">Ticket</span></a>
                            </td>
                        </tr>
                        <tr itemscope="" itemtype="http://schema.org/MusicEvent">
                            <td class="event-timedate col-md-3">
                                <div class="event-date">
                                    31 August, Wednesday 2017
                                    <meta itemprop="startDate" content="2017-08-31">
                                </div>
                                <div class="event-time">
                                    09:00 PM
                                </div>
                            </td>
                            <td class="event-location col-md-7">
                                <div class="event-author" itemprop="name">
                                    <div class="separator-wrap">John Mayall</div>
                                </div>
                                <div class="address">
                                    <div class="event-city" itemprop="location" itemscope="" itemtype="http://schema.org/Place">
                                        <div class="separator-wrap" itemprop="name">
                                            Iridium Jazz Club
                                        </div>
                                        <div class="event-addres hidden" itemprop="address" itemscope=""
                                             itemtype="http://schema.org/PostalAddress">
                                            <span class="hidden" itemprop="addressLocality">New York,</span>
                                            <span class="hidden" itemprop="addressRegion">New York</span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="event-btn col-md-2">
                                <a itemprop="url" href="" class="btn btn-primary btn-block">Buy <span class="hidden-xs">Ticket</span></a>
                            </td>
                        </tr>
                        <tr itemscope="" itemtype="http://schema.org/MusicEvent">
                            <td class="event-timedate col-md-3">
                                <div class="event-date">
                                    31 August, Wednesday 2017
                                    <meta itemprop="startDate" content="2017-08-31">
                                </div>
                                <div class="event-time">
                                    09:00 PM
                                </div>
                            </td>
                            <td class="event-location col-md-7">
                                <div class="event-author" itemprop="name">
                                    <div class="separator-wrap">John Mayall</div>
                                </div>
                                <div class="address">
                                    <div class="event-city" itemprop="location" itemscope="" itemtype="http://schema.org/Place">
                                        <div class="separator-wrap" itemprop="name">
                                            Iridium Jazz Club
                                        </div>
                                        <div class="event-addres hidden" itemprop="address" itemscope=""
                                             itemtype="http://schema.org/PostalAddress">
                                            <span class="hidden" itemprop="addressLocality">New York,</span>
                                            <span class="hidden" itemprop="addressRegion">New York</span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="event-btn col-md-2">
                                <a itemprop="url" href="" class="btn btn-primary btn-block">Buy <span class="hidden-xs">Ticket</span></a>
                            </td>
                        </tr>
                        <tr itemscope="" itemtype="http://schema.org/MusicEvent">
                            <td class="event-timedate col-md-3">
                                <div class="event-date">
                                    31 August, Wednesday 2017
                                    <meta itemprop="startDate" content="2017-08-31">
                                </div>
                                <div class="event-time">
                                    09:00 PM
                                </div>
                            </td>
                            <td class="event-location col-md-7">
                                <div class="event-author" itemprop="name">
                                    <div class="separator-wrap"> John Mayall</div>
                                </div>
                                <div class="address">
                                    <div class="event-city" itemprop="location" itemscope="" itemtype="http://schema.org/Place">
                                        <div class="separator-wrap" itemprop="name">
                                            Iridium Jazz Club
                                        </div>
                                        <div class="event-addres hidden" itemprop="address" itemscope=""
                                             itemtype="http://schema.org/PostalAddress">
                                            <span class="hidden" itemprop="addressLocality">New York,</span>
                                            <span class="hidden" itemprop="addressRegion">New York</span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="event-btn col-md-2">
                                <a itemprop="url" href="" class="btn btn-primary btn-block">Buy <span class="hidden-xs">Ticket</span></a>
                            </td>
                        </tr>
                        <tr itemscope="" itemtype="http://schema.org/MusicEvent">
                            <td class="event-timedate col-md-3">
                                <div class="event-date">
                                    31 August, Wednesday 2017
                                    <meta itemprop="startDate" content="2017-08-31">
                                </div>
                                <div class="event-time">
                                    09:00 PM
                                </div>
                            </td>
                            <td class="event-location col-md-7">
                                <div class="event-author" itemprop="name">
                                    <div class="separator-wrap"> John Mayall</div>
                                </div>
                                <div class="address">
                                    <div class="event-city" itemprop="location" itemscope="" itemtype="http://schema.org/Place">
                                        <div class="separator-wrap" itemprop="name">
                                            Iridium Jazz Club
                                        </div>
                                        <div class="event-addres hidden" itemprop="address" itemscope=""
                                             itemtype="http://schema.org/PostalAddress">
                                            <span class="hidden" itemprop="addressLocality">New York,</span>
                                            <span class="hidden" itemprop="addressRegion">New York</span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="event-btn col-md-2">
                                <a itemprop="url" href="" class="btn btn-primary btn-block">Buy <span class="hidden-xs">Ticket</span></a>
                            </td>
                        </tr>
                        <tr itemscope="" itemtype="http://schema.org/MusicEvent">
                            <td class="event-timedate col-md-3">
                                <div class="event-date">
                                    31 August, Wednesday 2017
                                    <meta itemprop="startDate" content="2017-08-31">
                                </div>
                                <div class="event-time">
                                    09:00 PM
                                </div>
                            </td>
                            <td class="event-location col-md-7">
                                <div class="event-author" itemprop="name">
                                    <div class="separator-wrap"> John Mayall</div>
                                </div>
                                <div class="address">
                                    <div class="event-city" itemprop="location" itemscope="" itemtype="http://schema.org/Place">
                                        <div class="separator-wrap" itemprop="name">
                                            Iridium Jazz Club
                                        </div>
                                        <div class="event-addres hidden" itemprop="address" itemscope=""
                                             itemtype="http://schema.org/PostalAddress">
                                            <span class="hidden" itemprop="addressLocality">New York,</span>
                                            <span class="hidden" itemprop="addressRegion">New York</span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="event-btn col-md-2">
                                <a itemprop="url" href="" class="btn btn-primary btn-block">Buy <span class="hidden-xs">Ticket</span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- end -->

        <div class="row padding-top-35 hidden-xs">
            <div class="col-xs-12 text-center">
                <a class="btn-primary btn btn-see-more">
                    MORE TICKETS
                </a>
            </div>
        </div>
    </div>
</section>


<!-- populat concerts -->

<section class="home-section popular-concerts how wow fadeIn" data-wow-duration="0.4s" data-wow-delay="0.4s">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="section-title">Popular Concerts</div>
            </div>
        </div>
        <div class="row">
            <div id="how-slider" class="col-md-12 ticket-slider">
                <div class="">
                    <div class="buy-ticket">
                        <div class="ticket-thumb">
                            <img src="img/Layer_01.png" class="img-responsive" alt="">
                            <div class="ticket-date">
                                <div class="ticket-month">APR</div>
                                <div class="ticket-day">30</div>
                            </div>
                            <div class="ticket-price-range">$150-$1500</div>
                        </div>
                        <div class="row flex-row ticket-atts middle-flex">
                            <div class="col-sm-7 margin-xs-5">
                                <div class="ticket-author-name">Meek Mill</div>
                                <div class="ticket-venue">
                                    Meek Mill
                                </div>
                            </div>
                            <div class="col-sm-5 margin-xs-5 text-right">
                                <a href="" class="btn-primary btn">Buy <span class="hidden-xs">Ticket</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="buy-ticket">
                        <div class="ticket-thumb">
                            <img src="img/Layer_01.png" class="img-responsive" alt="">
                            <div class="ticket-date">
                                <div class="ticket-month">JUN</div>
                                <div class="ticket-day">07</div>
                            </div>
                            <div class="ticket-price-range">$150-$1500</div>
                        </div>
                        <div class="row flex-row ticket-atts middle-flex">
                            <div class="col-sm-7 margin-xs-5">
                                <div class="ticket-author-name">Irving Plaza</div>
                                <div class="ticket-venue">
                                    Irving Plaza
                                </div>
                            </div>
                            <div class="col-sm-5 margin-xs-5 text-right">
                                <a href="" class="btn-primary btn">Buy <span class="hidden-xs">Ticket</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="buy-ticket">
                        <div class="ticket-thumb">
                            <img src="img/Layer_01.png" class="img-responsive" alt="">
                            <div class="ticket-date">
                                <div class="ticket-month">OCT</div>
                                <div class="ticket-day">01</div>
                            </div>
                            <div class="ticket-price-range">$150-$1500</div>
                        </div>
                        <div class="row flex-row ticket-atts middle-flex">
                            <div class="col-sm-7 margin-xs-5">
                                <div class="ticket-author-name">Irving Plaza</div>
                                <div class="ticket-venue">
                                    Irving Plaza
                                </div>
                            </div>
                            <div class="col-sm-5 margin-xs-5 text-right">
                                <a href="" class="btn-primary btn">Buy <span class="hidden-xs">Ticket</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="buy-ticket">
                        <div class="ticket-thumb">
                            <img src="img/Layer_01.png" class="img-responsive" alt="">
                            <div class="ticket-date">
                                <div class="ticket-month">APR</div>
                                <div class="ticket-day">17</div>
                            </div>
                            <div class="ticket-price-range">$150-$1500</div>
                        </div>
                        <div class="row flex-row ticket-atts middle-flex">
                            <div class="col-sm-7 margin-xs-5">
                                <div class="ticket-author-name">Selena Gomes</div>
                                <div class="ticket-venue">
                                    NSK Olimpia
                                </div>
                            </div>
                            <div class="col-sm-5 margin-xs-5 text-right">
                                <a href="" class="btn-primary btn">Buy <span class="hidden-xs">Ticket</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="buy-ticket">
                        <div class="ticket-thumb">
                            <img src="img/Layer_01.png" class="img-responsive" alt="">
                            <div class="ticket-date">
                                <div class="ticket-month">APR</div>
                                <div class="ticket-day">17</div>
                            </div>
                            <div class="ticket-price-range">$150-$1500</div>
                        </div>
                        <div class="row flex-row ticket-atts middle-flex">
                            <div class="col-sm-7 margin-xs-5">
                                <div class="ticket-author-name">Selena Gomes</div>
                                <div class="ticket-venue">
                                    NSK Olimpia
                                </div>
                            </div>
                            <div class="col-sm-5 margin-xs-5 text-right">
                                <a href="" class="btn-primary btn">Buy <span class="hidden-xs">Ticket</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end -->


<!-- Popular Venues-->
<section class="home-section popular-venus wow fadeIn" data-wow-duration="0.2s" data-wow-delay="0.2s">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h3>Popular Venues in New York</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ticket-slider">
                <div class="">
                    <div class="buy-ticket">
                        <div class="ticket-thumb">
                            <img src="img/Layer_01.png" class="img-responsive" alt="">
                        </div>
                        <div class="row flex-row ticket-atts middle-flex">
                            <div class="col-sm-7 margin-xs-5">
                                <div class="ticket-author-name">Broadway Theater</div>
                                <div class="ticket-venue">
                                    Theater
                                </div>
                            </div>
                            <div class="col-sm-5 margin-xs-5 text-right">
                                <div class="events-count">470</div>
                                <div class="events-type">events</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="buy-ticket">
                        <div class="ticket-thumb">
                            <img src="img/Layer_01.png" class="img-responsive" alt="">
                        </div>
                        <div class="row flex-row ticket-atts middle-flex">
                            <div class="col-sm-7 margin-xs-5">
                                <div class="ticket-author-name">Music Box Theatre - NY</div>
                                <div class="ticket-venue">
                                    Music Box Theatre - NY
                                </div>
                            </div>
                            <div class="col-sm-5 margin-xs-5 text-right">
                                <div class="events-count">470</div>
                                <div class="events-type">events</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="buy-ticket">
                        <div class="ticket-thumb">
                            <img src="img/Layer_01.png" class="img-responsive" alt="">
                        </div>
                        <div class="row flex-row ticket-atts middle-flex">
                            <div class="col-sm-7 margin-xs-5">
                                <div class="ticket-author-name">Orpheum Theatre - NYC</div>
                                <div class="ticket-venue">
                                    Orpheum Theatre - NYC
                                </div>
                            </div>
                            <div class="col-sm-5 margin-xs-5 text-right">
                                <div class="events-count">390</div>
                                <div class="events-type">events</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="buy-ticket">
                        <div class="ticket-thumb">
                            <img src="img/Layer_01.png" class="img-responsive" alt="">
                        </div>
                        <div class="row flex-row ticket-atts middle-flex">
                            <div class="col-sm-7 margin-xs-5">
                                <div class="ticket-author-name">Lunt-fontanne Theatre</div>
                                <div class="ticket-venue">
                                    Lunt-fontanne Theatre
                                </div>
                            </div>
                            <div class="col-sm-5 margin-xs-5 text-right">
                                <div class="events-count">382</div>
                                <div class="events-type">events</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="buy-ticket">
                        <div class="ticket-thumb">
                            <img src="img/Layer_01.png" class="img-responsive" alt="">
                        </div>
                        <div class="row flex-row ticket-atts middle-flex">
                            <div class="col-sm-7 margin-xs-5">
                                <div class="ticket-author-name">Selena Gomes</div>
                                <div class="ticket-venue">
                                    NSK Olimpia
                                </div>
                            </div>
                            <div class="col-sm-5 margin-xs-5 text-right">
                                <div class="events-count">91</div>
                                <div class="events-type">events</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- //Popular Venues -->

<!-- Bottom Nereast City -->
<section class="section see-also col-no-padding padding-top-50">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center section-title">
                    Nearest cities
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
                <figure class="effect-roxy">
                    <img src="img/popular_c/city18.png" alt="" class="img-responsive">
                    <figcaption>
                        <div class="city-name">Detroit</div>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <figure class="effect-roxy">
                    <img src="img/popular_c/city19.png" alt="" class="img-responsive">
                    <figcaption>
                        <div class="city-name">Chicago</div>
                    </figcaption>
                    <a href=""></a>
                </figure>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <figure class="effect-roxy">
                    <img src="img/popular_c/city20.png" alt="" class="img-responsive">
                    <figcaption>
                        <div class="city-name">Washington</div>
                    </figcaption>
                    <a href=""></a>
                </figure>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <figure class="effect-roxy">
                    <img src="img/popular_c/city20.png" alt="" class="img-responsive">
                    <figcaption>
                        <div class="city-name">Boston</div>
                    </figcaption>
                    <a href=""></a>
                </figure>
            </div>
        </div>
    </div>
</section>

<!-- END -->


<!-- Bottom text -->
<section class="text-section padding-top-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center section-title-text">
                    New York Concerts
                </h2>
                <div class="text two-columns body-expand-container">
                    <p>Life is an adventure. Celebrate it with the music that gives you goose bumps. Dive into the
                        amazing atmosphere of live performances and unbelievably good music. The industry has a great
                        variety of genres and types of music to offer.</p>
                    <p>We are proud to present a service that will help music enthusiast get tickets to the most
                        anticipated concerts of this year. Whenever you find it difficult to find the best deal on the
                    </p>
                    <p>It may seem as though every Concert Ticket price is increased because of an unfairly high
                        commission depending, of course, on the popularity of the performer. It is a frequent situation
                        with other services. We, however, assure that
                        you can buy Cheap Concert Tickets with the help of our service. We accomodate our customers with
                        the closest valu e to the initial ticket worth. Concertics can afford that as we buy Concert
                    </p>
                    <div class="visible-xs body-expand-container-hide ex-close">
                        <button class="b" role="button">
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- END -->


//= views/footer.html
