<!-- header -->

//= views/header.html

<!-- Top Blog -->
<section class="sin/*gle-post-title">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a href="/" itemprop="item" class="home">
                            <span itemprop="name">Main</span>
                        </a>
                    </li>
                    <li class="active">Music blog</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- End Top Blog -->


<!-- Blog Content -->
<section class="page-section single-blog">

    <!-- top Content -->
    <div class="container">
        <div class="row">
            <div class="col-sm-3 single-blog-meta">
                <div class="blog-meta-date day year margin-b-15">31 August Wednesday 2017</div>
                <div class="blog-list-meta-time">09:00 PM</div>

                <div class="sharePopup"></div>
            </div>
            <div class="col-sm-6">
                <h1>Tropicalia! Tropicalia! Tropicalia!</h1>
                <p class="single-blog-preview">
                    Tropicalia. What in the hell is it? Tough question. Weve spoke about it a lot on these pages but never delved into what it actually means.
                    Tropicalia (or Tropicalismo), and the Tropicalistas, is a movement so wild and dangerous that its a wonder that it ever got off the ground. See, in Brazil in the 60s, while the whole of the West was embracing psychedelia and copying the haircuts of The Beatles, a buncha Brazilian artists, poets, film makers and musicians were taking the spirit of revolution literally.
                </p>
            </div>
        </div>
    </div>


    <!-- Big Image -->
    <div class="container-fluid margin-tb-45">
        <div class="row">
            <img src="img/blog/big-img.png" alt="Tropicalia! Tropicalia! Tropicalia!" class="img-responsive">
        </div>
    </div>


    <!-- Main Content -->
    <div class="container single-blog-content">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <p>
                    Tropicalia. What in the hell is it? Tough question. Weve spoke about it a lot on these pages but never delved into what it actually means.
                    Tropicalia (or Tropicalismo), and the Tropicalistas, is a movement so wild and dangerous that its a wonder that it ever got off the ground. See, in Brazil in the 60s, while the whole of the West was embracing psychedelia and copying the haircuts of The Beatles, a buncha Brazilian artists, poets, film makers and musicians were taking the spirit of revolution literally.
                </p>
                <img src="img/blog/small-content.png" alt="The political and artistic struggle behind the bewitching rhythms of Brazil..." class="img-responsive">
                <h2>The political and artistic struggle behind the
                    bewitching rhythms of Brazil...</h2>
                <p>In addition to Veloso and Gil, Os Mutantes and Gal Costa featured and thus, the face of the revolution was born. Between them, the songs took shape and instead of merely throwing a peace sign and lighting up a joint -which they invariably did anyway... they were smart/stupid enough to walk it and talk it. They rallied against the military coup of 1964 which saw the overthrowing of left wing President João Goulart  by nationalist right wing nuts who suspended civil rights and liberties of the Brazilian people.</p>
                <p>The coup abolished all political parties and replaced them with only two, the military governments party called the National Renewal Alliance Party (ARENA) and the oppositions Brazilian Democratic Movement (MDB), with latter being mere lip service to those who still believed in democracy.</p>
                <p>In 68, Caetano Veloso and Gilberto Gil were incarcerated on a false charges with the military government labelling the musicians as "a political threat and a decadent influence who will corrupt Brazilian youth".</p>
                <p>The military who now ruled Brazil made sure everyone knew what they were capable of, with widespread disappearance, torture, and exile of many politicians, university students, writers, singers, painters, filmmakers and other artists.</p>
                <p>In 68, Caetano Veloso and Gilberto Gil were incarcerated on a false charges with the military government labelling the musicians as "a political threat and a decadent influence who will corrupt Brazilian youth".</p>
                <p>Veloso and Gil were at least granted one last show, in order to raise funds for their ticket outta town and the two sought exile in London and Os Mutantes decamped to Paris.</p>
                <h2>The Birth of Rock... In Brazil: Tropical</h2>
                <p>Others in the Tropicalismo movement were far less fortunate with many being tortured or forced into psychiatric care. One Tropicalista, the lyricist and poet Torquato Neto, committed suicide after such treatment. It took 20 years for the Tropicalia movement to be honoured. It was in 85, when Brazils return to a democratic process kicked off again that the artists involved began to be recognised for their startling and brave achievements.</p>
                <p>However, at the crux of the whole movement is the great music. As a genre in itself, the story is worthy of a feature length documentary. Theres no denying that it may have been swept under the rug. Mercifully though, a whole series of incredible albums and singles were released, as documented in Soul Jazzs Tropicalia compilation.</p>
                <p>Click here to dig our Tropicalia related Spotify playlist and buy some of the most seminal LPs and compilations of the Tropicalismo movement below.  [Mof Gimmers]</p>
            </div>
            <div class="col-md-6 col-md-offset-3 margin-xs-15">
                <div class="row">
                    <div class="col-md-2"><div class="soc-title">Share:</div></div>
                    <div class="col-md-10">
                        <div class="sharePopup"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>

<!-- //Blog Content -->

<!-- footer -->

//= views/footer.html