//= views/header.html


<!-- Top Artist Information -->
<section class="single-post-title">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a href="/" itemprop="item" class="home">
                            <span itemprop="name">Main</span>
                        </a>
                    </li>
                    <li class="active">Coldplay</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="artist">
                    <div class="row">
                        <div class="col-sm-3 margin-xs-15">
                            <img src="img/artist/coldplaz.png" alt="Coldplay Tickets" class="img-responsive">
                        </div>
                        <div class="col-sm-9 margin-xs-15">
                            <h1 class="artist-title">Coldplay Tickets</h1>
                            <p class="artist-cat">British pop rock band</p>
                            <p class="artist-desc">
                                Coldplay is a music band that was formed in London, United Kingdom but then became popular all around the world.
                                Since 9, 1996 they have made a huge difference in rock, pop, alternative rock, british, uk music genre.
                            </p>
                            <div class="row">
                                <div class="col-md-3 col-sm-6 col-xs-12 margin-xs-15">
                                    <div class="rating-wrapper " itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                                        <ul class="stars" id="starsUl" data-model="Performer" data-attribute="rating" data-model_id="3255">
                                            <li class="star selected" data-value="1">
                                                ★
                                            </li>
                                            <li class="star selected" data-value="2">
                                                ★
                                            </li>
                                            <li class="star selected" data-value="3">
                                                ★
                                            </li>
                                            <li class="star selected" data-value="4">
                                                ★
                                            </li>
                                            <li class="star" data-value="5">
                                                ★
                                            </li>
                                        </ul>
                                        <div class="ratVal">
                                            <span itemprop="ratingValue" id="rating">4.7</span>
                                            <meta itemprop="ratingCount" content="331">
                                        </div>
                                        <div class="success-box">
                                            <div class="clearfix"></div>
                                            <div class="text-message"></div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-9 col-sm-6 col-xs-12 margin-xs-15">
                                    <div id="sharePopup"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Top Artist -->


<!-- Artist Tickets -->
<section class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>
                    Tickets
                </h2>
                <table id="list" class="event artist-event margin-tb-35 table-striped table-hover">
                    <tbody>
                    <tr itemscope="" itemtype="http://schema.org/MusicEvent">
                        <td class="hidden" itemprop="name performer">
                            Coldplay
                        </td>
                        <td class="event-timedate col-md-3">
                            <div class="event-date">
                                31 August, Wednesday 2017
                                <meta itemprop="startDate" content="2017-08-31">
                            </div>
                            <div class="event-time">
                                09:00 PM
                            </div>
                        </td>
                        <td class="event-location col-md-7" itemprop="location" itemscope="" itemtype="http://schema.org/Place">
                            <div class="addres" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                                <div class="event-city">
                                    <div class="separator-wrap">
                                        <span itemprop="addressLocality">East Rutherford,</span>
                                        <span itemprop="addressRegion">New Jersey</span>
                                    </div>
                                </div>
                            </div>
                            <div class="event-place" itemprop="name">
                                <div class="separator-wrap">
                                    MetLife Stadium
                                </div>
                            </div>
                        </td>
                        <td class="event-btn col-md-2">
                            <a itemprop="url" href="" class="btn btn-primary btn-block">Buy <span class="hidden-xs">Ticket</span></a>
                        </td>
                    </tr>
                    <tr itemscope="" itemtype="http://schema.org/MusicEvent">
                        <td class="hidden" itemprop="name performer">
                            Coldplay
                        </td>
                        <td class="event-timedate col-md-3">
                            <div class="event-date">
                                31 August, Wednesday 2017
                                <meta itemprop="startDate" content="2017-08-31">
                            </div>
                            <div class="event-time">
                                09:00 PM
                            </div>
                        </td>
                        <td class="event-location col-md-7" itemprop="location" itemscope="" itemtype="http://schema.org/Place">
                            <div class="addres" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                                <div class="event-city">
                                    <div class="separator-wrap">
                                        <span itemprop="addressLocality">Foxborough,</span>
                                        <span itemprop="addressRegion">Massachusetts</span>
                                    </div>
                                </div>
                            </div>
                            <div class="event-place" itemprop="name">
                                <div class="separator-wrap">
                                    Gillette Stadium
                                </div>
                            </div>
                        </td>
                        <td class="event-btn col-md-2">
                            <a itemprop="url" href="" class="btn btn-primary btn-block">Buy <span class="hidden-xs">Ticket</span></a>
                        </td>
                    </tr>
                    <tr itemscope="" itemtype="http://schema.org/MusicEvent">
                        <td class="hidden" itemprop="name performer">
                            Coldplay
                        </td>
                        <td class="event-timedate col-md-3">
                            <div class="event-date">
                                31 August, Wednesday 2017
                                <meta itemprop="startDate" content="2017-08-31">
                            </div>
                            <div class="event-time">
                                09:00 PM
                            </div>
                        </td>
                        <td class="event-location col-md-7" itemprop="location" itemscope="" itemtype="http://schema.org/Place">
                            <div class="addres" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                                <div class="event-city">
                                    <div class="separator-wrap">
                                        <span itemprop="addressLocality">East Rutherford,</span>
                                        <span itemprop="addressRegion">New Jersey</span>
                                    </div>
                                </div>
                            </div>
                            <div class="event-place" itemprop="name">
                                <div class="separator-wrap">
                                    MetLife Stadium
                                </div>
                            </div>
                        </td>
                        <td class="event-btn col-md-2">
                            <a itemprop="url" href="" class="btn btn-primary btn-block">Buy <span class="hidden-xs">Ticket</span></a>
                        </td>
                    </tr>
                    <tr itemscope="" itemtype="http://schema.org/MusicEvent">
                        <td class="hidden" itemprop="name performer">
                            Coldplay
                        </td>
                        <td class="event-timedate col-md-3">
                            <div class="event-date">
                                31 August, Wednesday 2017
                                <meta itemprop="startDate" content="2017-08-31">
                            </div>
                            <div class="event-time">
                                09:00 PM
                            </div>
                        </td>
                        <td class="event-location col-md-7" itemprop="location" itemscope="" itemtype="http://schema.org/Place">
                            <div class="addres" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                                <div class="event-city">
                                    <div class="separator-wrap">
                                        <span itemprop="addressLocality">Landover,</span>
                                        <span itemprop="addressRegion">Maryland</span>
                                    </div>
                                </div>
                            </div>
                            <div class="event-place" itemprop="name">
                                <div class="separator-wrap">
                                    FedexField
                                </div>
                            </div>
                        </td>
                        <td class="event-btn col-md-2">
                            <a itemprop="url" href="" class="btn btn-primary btn-block">Buy <span class="hidden-xs">Ticket</span></a>
                        </td>
                    </tr>
                    <tr itemscope="" itemtype="http://schema.org/MusicEvent">
                        <td class="hidden" itemprop="name performer">
                            Coldplay
                        </td>
                        <td class="event-timedate col-md-3">
                            <div class="event-date">
                                31 August, Wednesday 2017
                                <meta itemprop="startDate" content="2017-08-31">
                            </div>
                            <div class="event-time">
                                09:00 PM
                            </div>
                        </td>
                        <td class="event-location col-md-7" itemprop="location" itemscope="" itemtype="http://schema.org/Place">
                            <div class="addres" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                                <div class="event-city">
                                    <div class="separator-wrap">
                                        <span itemprop="addressLocality">Minneapolis,</span>
                                        <span itemprop="addressRegion">Minnesota</span>
                                    </div>
                                </div>
                            </div>
                            <div class="event-place" itemprop="name">
                                <div class="separator-wrap">
                                    US Bank Stadium
                                </div>
                            </div>
                        </td>
                        <td class="event-btn col-md-2">
                            <a itemprop="url" href="" class="btn btn-primary btn-block">Buy <span class="hidden-xs">Ticket</span></a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <!-- If Tickets List Not Found  -- remove class "hidden"  and don't show table above -->
                <div class=" hidden not-found color-primary text-left margin-tb-35">
                    <i class="fa fa-info-circle"></i> We currently do not have any tickets on-sale for <span>Coldplay</span>.
                </div>
            </div>
        </div>
        <div class="row padding-top-35 hidden-xs">
            <div class="col-xs-12 text-center">
                <a class="btn-primary btn btn-see-more">
                    MORE TICKETS
                </a>
            </div>
        </div>
    </div>
</section>
<!-- //Artist Tickets -->

<!-- Artist Information -->

<section class="page-section artist-information">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Artist Information</h2>
                <ul class="nav nav-tabs responsive">
                    <li class="tabs-li active"><a data-toggle="tab" href="#biography">Biography</a></li>
                    <li class="tabs-li"><a data-toggle="tab" href="#tracks">Tracks</a></li>
                    <li class="tabs-li"><a data-toggle="tab" href="#clips">Clips</a></li>
                    <li class="tabs-li"><a data-toggle="tab" href="#similar">Similar artists</a></li>
                    <li class="tabs-li"><a data-toggle="tab" href="#setlist">Setlist</a></li>
                    <li class="tabs-li"><a data-toggle="tab" href="#albums">Albums</a></li>
                    <li class="dropdown pull-right socials">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Official pages</a>
                        <ul class="dropdown-menu">
                            <li class="socials-link web"><a href="#">http://coldplay.com/</a>
                            <li role="separator" class="divider"></li>
                            <li class="socials-link fb"><a href="#">Facebook</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="socials-link tw"><a href="#">Twitter</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="socials-link youtube"><a href="#">YouTube</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="socials-link insta"><a href="#">Instagram</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="tab-content responsive ">
                    //= views/tabs/biography.html
                    //= views/tabs/tracks.html
                    //= views/tabs/clips.html
                    //= views/tabs/similar.html
                    //= views/tabs/setlist.html
                    //= views/tabs/albums.html
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Tabs -->


<!-- how right now -->

<section class="home-section how wow fadeIn" data-wow-duration="0.4s" data-wow-delay="0.4s">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="section-title">Hot right now</div>
            </div>
        </div>
        <div class="row">
            <div id="how-slider" class="col-md-12 ticket-slider">
                <div class="">
                    <div class="buy-ticket">
                        <div class="ticket-thumb">
                            <img src="img/Layer_01.png" class="img-responsive" alt="">
                            <div class="ticket-date">
                                <div class="ticket-month">APR</div>
                                <div class="ticket-day">30</div>
                            </div>
                            <div class="ticket-price-range">$150-$1500</div>
                        </div>
                        <div class="row flex-row ticket-atts middle-flex">
                            <div class="col-sm-7 margin-xs-5">
                                <div class="ticket-author-name">Selena Gomes</div>
                                <div class="ticket-venue">
                                    NSK Olimpia Olimpia nsk nsks
                                </div>
                            </div>
                            <div class="col-sm-5 margin-xs-5 text-right">
                                <a href="" class="btn-primary btn">Buy Ticket</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="buy-ticket">
                        <div class="ticket-thumb">
                            <img src="img/Layer_01.png" class="img-responsive" alt="">
                            <div class="ticket-date">
                                <div class="ticket-month">JUN</div>
                                <div class="ticket-day">07</div>
                            </div>
                            <div class="ticket-price-range">$150-$1500</div>
                        </div>
                        <div class="row flex-row ticket-atts middle-flex">
                            <div class="col-sm-7 margin-xs-5">
                                <div class="ticket-author-name">Drake</div>
                                <div class="ticket-venue">
                                    Walt Disney Concert...
                                </div>
                            </div>
                            <div class="col-sm-5 margin-xs-5 text-right">
                                <a href="" class="btn-primary btn">Buy Ticket</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="buy-ticket">
                        <div class="ticket-thumb">
                            <img src="img/Layer_01.png" class="img-responsive" alt="">
                            <div class="ticket-date">
                                <div class="ticket-month">OCT</div>
                                <div class="ticket-day">01</div>
                            </div>
                            <div class="ticket-price-range">$150-$1500</div>
                        </div>
                        <div class="row flex-row ticket-atts middle-flex">
                            <div class="col-sm-7 margin-xs-5">
                                <div class="ticket-author-name">Nicki Minaj</div>
                                <div class="ticket-venue">
                                    National Theater and...
                                </div>
                            </div>
                            <div class="col-sm-5 margin-xs-5 text-right">
                                <a href="" class="btn-primary btn">Buy Ticket</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="buy-ticket">
                        <div class="ticket-thumb">
                            <img src="img/Layer_01.png" class="img-responsive" alt="">
                            <div class="ticket-date">
                                <div class="ticket-month">APR</div>
                                <div class="ticket-day">17</div>
                            </div>
                            <div class="ticket-price-range">$150-$1500</div>
                        </div>
                        <div class="row flex-row ticket-atts middle-flex">
                            <div class="col-sm-7 margin-xs-5">
                                <div class="ticket-author-name">Selena Gomes</div>
                                <div class="ticket-venue">
                                    NSK Olimpia
                                </div>
                            </div>
                            <div class="col-sm-5 margin-xs-5 text-right">
                                <a href="" class="btn-primary btn">Buy Ticket</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="buy-ticket">
                        <div class="ticket-thumb">
                            <img src="img/Layer_01.png" class="img-responsive" alt="">
                            <div class="ticket-date">
                                <div class="ticket-month">APR</div>
                                <div class="ticket-day">17</div>
                            </div>
                            <div class="ticket-price-range">$150-$1500</div>
                        </div>
                        <div class="row flex-row ticket-atts middle-flex">
                            <div class="col-sm-7 margin-xs-5">
                                <div class="ticket-author-name">Selena Gomes</div>
                                <div class="ticket-venue">
                                    NSK Olimpia
                                </div>
                            </div>
                            <div class="col-sm-5 margin-xs-5 text-right">
                                <a href="" class="btn-primary btn">Buy Ticket</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- //how right now -->


<!-- Fans Also Bought -->

<section class="page-section artist-information">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">Fans Also Bought</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="flex-row flex-space margin-t-30 bougth">
                    <div class="bougth-item margin-xs-15"><a href="#">Clint Black</a></div>
                    <div class="bougth-item margin-xs-15"><a href="#">Dwight Yoakam</a></div>
                    <div class="bougth-item margin-xs-15"><a href="#">John Michael Montgomery</a></div>
                    <div class="bougth-item margin-xs-15"><a href="#">Sammy Kershaw</a></div>
                    <div class="bougth-item margin-xs-15"><a href="#">Sury Bogguss</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Bottom text -->
<section class="text-section padding-top-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center section-title-text">
                    How to Buy Coldplay Tickets
                </h2>
                <div class="text two-columns body-expand-container">
                    <p>Life is an adventure. Celebrate it with the music that gives you goose bumps. Dive into the
                        amazing atmosphere of live performances and unbelievably good music. The industry has a great
                        variety of genres and types of music to offer.</p>
                    <p>We are proud to present a service that will help music enthusiast get tickets to the most
                        anticipated concerts of this year. Whenever you find it difficult to find the best deal on the
                    </p>
                    <p>It may seem as though every Concert Ticket price is increased because of an unfairly high
                        commission depending, of course, on the popularity of the performer. It is a frequent situation
                        with other services. We, however, assure that
                        you can buy Cheap Concert Tickets with the help of our service. We accomodate our customers with
                        the closest valu e to the initial ticket worth. Concertics can afford that as we buy Concert
                    </p>
                    <div class="visible-xs body-expand-container-hide ex-close">
                        <button class="b" role="button">
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- END -->


//= views/footer.html

