//= views/header.html

<section class="single-post-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a href="/" itemprop="item" class="home">
                            <span itemprop="name">Main</span>
                        </a>
                    </li>
                    <li class="active">California</li>
                </ol>
            </div>
        </div>
        <div class="row flex-row">
            <div class="col-md-12 post-title-wrap text-center">
                <div class="post-title text-center">
                    <h1 class="">
                        Upcoming concerts in California
                    </h1>
                    <p class="">
                        California header
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="inner-page single-state-content text-center">
    <div class="container">
        <div class="cities-list">
            //= views/single-states.html
        </div>
        <div class="row padding-top-35 hidden-xs">
            <div class="col-xs-12 text-center">
                <a class="btn-primary btn btn-see-more">
                    MORE CITIES
                </a>
            </div>
        </div>
    </div>
</section>


<!-- populat concerts -->

<section class="home-section popular-concerts how wow fadeIn" data-wow-duration="0.4s" data-wow-delay="0.4s">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="section-title">California Concerts</div>
            </div>
        </div>
        <div class="row">
            <div id="how-slider" class="col-md-12 ticket-slider">
                <div class="">
                    <div class="buy-ticket">
                        <div class="ticket-thumb">
                            <img src="img/Layer_01.png" class="img-responsive" alt="">
                            <div class="ticket-date">
                                <div class="ticket-month">APR</div>
                                <div class="ticket-day">30</div>
                            </div>
                            <div class="ticket-price-range">$150-$1500</div>
                        </div>
                        <div class="row flex-row ticket-atts middle-flex">
                            <div class="col-sm-7 margin-xs-5">
                                <div class="ticket-author-name">California Concerts</div>
                                <div class="ticket-venue">
                                    MidFlorida Credit Union...
                                </div>
                            </div>
                            <div class="col-sm-5 margin-xs-5 text-right">
                                <a href="" class="btn-primary btn">Buy <span class="hidden-xs">Ticket</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="buy-ticket">
                        <div class="ticket-thumb">
                            <img src="img/Layer_01.png" class="img-responsive" alt="">
                            <div class="ticket-date">
                                <div class="ticket-month">JUN</div>
                                <div class="ticket-day">07</div>
                            </div>
                            <div class="ticket-price-range">$150-$1500</div>
                        </div>
                        <div class="row flex-row ticket-atts middle-flex">
                            <div class="col-sm-7 margin-xs-5">
                                <div class="ticket-author-name">MidFlorida Credit Union...</div>
                                <div class="ticket-venue">
                                    MidFlorida Credit Union...
                                </div>
                            </div>
                            <div class="col-sm-5 margin-xs-5 text-right">
                                <a href="" class="btn-primary btn">Buy <span class="hidden-xs">Ticket</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="buy-ticket">
                        <div class="ticket-thumb">
                            <img src="img/Layer_01.png" class="img-responsive" alt="">
                            <div class="ticket-date">
                                <div class="ticket-month">OCT</div>
                                <div class="ticket-day">01</div>
                            </div>
                            <div class="ticket-price-range">$150-$1500</div>
                        </div>
                        <div class="row flex-row ticket-atts middle-flex">
                            <div class="col-sm-7 margin-xs-5">
                                <div class="ticket-author-name">Kelsea Ballerini</div>
                                <div class="ticket-venue">
                                    MidFlorida Credit Union...
                                </div>
                            </div>
                            <div class="col-sm-5 margin-xs-5 text-right">
                                <a href="" class="btn-primary btn">Buy <span class="hidden-xs">Ticket</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="buy-ticket">
                        <div class="ticket-thumb">
                            <img src="img/Layer_01.png" class="img-responsive" alt="">
                            <div class="ticket-date">
                                <div class="ticket-month">APR</div>
                                <div class="ticket-day">17</div>
                            </div>
                            <div class="ticket-price-range">$150-$1500</div>
                        </div>
                        <div class="row flex-row ticket-atts middle-flex">
                            <div class="col-sm-7 margin-xs-5">
                                <div class="ticket-author-name">Selena Gomes</div>
                                <div class="ticket-venue">
                                    NSK Olimpia
                                </div>
                            </div>
                            <div class="col-sm-5 margin-xs-5 text-right">
                                <a href="" class="btn-primary btn">Buy <span class="hidden-xs">Ticket</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="buy-ticket">
                        <div class="ticket-thumb">
                            <img src="img/Layer_01.png" class="img-responsive" alt="">
                            <div class="ticket-date">
                                <div class="ticket-month">APR</div>
                                <div class="ticket-day">17</div>
                            </div>
                            <div class="ticket-price-range">$150-$1500</div>
                        </div>
                        <div class="row flex-row ticket-atts middle-flex">
                            <div class="col-sm-7 margin-xs-5">
                                <div class="ticket-author-name">Selena Gomes</div>
                                <div class="ticket-venue">
                                    NSK Olimpia
                                </div>
                            </div>
                            <div class="col-sm-5 margin-xs-5 text-right">
                                <a href="" class="btn-primary btn">Buy <span class="hidden-xs">Ticket</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end -->


<!-- Bottom Nereast City -->
<section class="section see-also col-no-padding padding-top-50">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center section-title">
                    Nearest states
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
                <figure class="effect-roxy">
                    <img src="img/popular_c/city18.png" alt="" class="img-responsive">
                    <figcaption>
                        <div class="city-name">Nevada</div>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <figure class="effect-roxy">
                    <img src="img/popular_c/city19.png" alt="" class="img-responsive">
                    <figcaption>
                        <div class="city-name">Oregon</div>
                    </figcaption>
                    <a href=""></a>
                </figure>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <figure class="effect-roxy">
                    <img src="img/popular_c/city20.png" alt="" class="img-responsive">
                    <figcaption>
                        <div class="city-name">Arizona</div>
                    </figcaption>
                    <a href=""></a>
                </figure>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <figure class="effect-roxy">
                    <img src="img/popular_c/city20.png" alt="" class="img-responsive">
                    <figcaption>
                        <div class="city-name">Washington</div>
                    </figcaption>
                    <a href=""></a>
                </figure>
            </div>
        </div>
    </div>
</section>

<!-- END -->


<!-- Bottom text -->
<section class="text-section padding-top-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center section-title-text">
                    California Concerts
                </h2>
                <div class="text two-columns body-expand-container">
                    <p>Life is an adventure. Celebrate it with the music that gives you goose bumps. Dive into the
                        amazing atmosphere of live performances and unbelievably good music. The industry has a great
                        variety of genres and types of music to offer.</p>
                    <p>We are proud to present a service that will help music enthusiast get tickets to the most
                        anticipated concerts of this year. Whenever you find it difficult to find the best deal on the
                    </p>
                    <p>It may seem as though every Concert Ticket price is increased because of an unfairly high
                        commission depending, of course, on the popularity of the performer. It is a frequent situation
                        with other services. We, however, assure that
                        you can buy Cheap Concert Tickets with the help of our service. We accomodate our customers with
                        the closest valu e to the initial ticket worth. Concertics can afford that as we buy Concert
                    </p>
                    <div class="visible-xs body-expand-container-hide ex-close">
                        <button class="b" role="button">
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- END -->


//= views/footer.html
