/************** Home PAGE *****************/

.home-section{
  padding: 43px 0 0 0;
  & h1,
  & h2,
  & h3{
    margin-bottom: 35px;
    font-size: 32px;
    color: rgb(15, 15, 17);
    font-weight:700;
    line-height: 1;
  }

  & .slick-slider {
    padding: 0 40px;
  }

  @media screen and (min-width: 992px) {
    & .slick-slide {
      position: relative;
      margin-right: 15px;
      margin-left: 15px;
    }
  }
  .slick-list {
    padding: 0 0 10px 0;
  }
}

/* buy-ticket */

.buy-ticket {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  .ticket-thumb {
    position: relative;
    & img {
      width: 100%;
      height: auto;
    }
  }
  & .ticket-date {
    background-color: rgb(15, 15, 17);
    position: absolute;
    right: 20px;
    top: 20px;
    width: 60px;
    height: 60px;
    color: #fff;
    text-align: center;
    line-height: 1.2;
    font-size: 16px;
    padding-top: 11px;
  }
  & .ticket-price-range {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 1;
    text-align: center;
  }
  & .ticket-atts {
    padding-top: 25px;
    padding-bottom: 30px;
    line-height: 1;
  }
  & .row {
    margin: 0;
  }
  .ticket-author-name {
    font-size: 16px;
    color: rgb(15, 15, 17);
    line-height: 1.2;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
  .ticket-venue {
    font-size: 15px;
    color: rgba(15, 15, 17, 0.6);
    line-height: 1.5;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
  .events-count {
    color: #fff;
    background-color: #ea443b;
    border-color: #e82e24;
    min-width: 50px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .events-type {
    font-size: 16px;
    color: rgba(15, 15, 17, 0.6);
    line-height: 1.2;
    margin-top: 2px;
  }

  .ticket-dates {
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      &:after {
        content: '';
        clear: both;
        display: table;
      }
    }
    li {
      float: left;
      padding: 0 5px;
      font-size: 14px;
      color: rgb(234, 68, 59);
      line-height: 1.2;
      text-align: left;

      &:nth-child(1) {
        border-left: 1px solid #787878;
        border-right: 1px solid #787878;
      }

      &:nth-child(2) {
        border-right: 1px solid #787878;
      }

    }

  }

}

/* categories */

.categories {
  @media screen and (min-width: 768px) {
    & div[class*="col"] {
      padding-left: 0;
      padding-right: 0;
    }
    .cats-list-box {
      position: relative;
      overflow: hidden;
      & .cats-list {
        position: absolute;
        background: rgba(0, 0, 0, 0.9);
        top: 74%;
        left: 0;
        right: 0;
        bottom: 0;
        transition: all 0.4s ease;
        cursor: pointer;
      }
      .title {
        font-size: 22px;
        color: rgb(234, 68, 59);
        line-height: 1;
        text-align: left;
        padding: 20px 0 22px 30px;
        font-family: 'Open Sans',sans-serif;
        font-weight:400;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        display: inline-block;
      }
      &:hover {
        & .cats-list {
          top: 0;
          bottom: 0;
        }
      }
      .cats-list-sub {
        line-height: 1;
        list-style: none;
        column-count: 2;
        column-gap: 10px;
        padding: 0 25px 0 30px;
        margin: 0;
        & li {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 150px;
          width: 100%;
        }
        a {
          color: #fff;
          font-size: 14px;
          line-height: 1.5;
          transition: all 0.3s ease;
          text-decoration: none;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
          display: inline-block;
          &:hover,
          &:focus {
            color: #ea443b;
          }
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    .cats-list-box {
      position: relative;
      overflow: hidden;
      margin-top: 25px;
      img {
        width: 100%;
      }
      & .cats-list {
        background: rgba(255, 255, 255, .9);
        -webkit-transition: all .4s ease;
        transition: all .4s ease;
        cursor: pointer;
        box-shadow: 0 1px 8px 0 rgba(0,0,0,.1);
        border: 1px solid #f3f2f2;
        min-height: 150px;
        margin-bottom: 10px;
      }
      .title {
        font-size: 22px;
        color: #ea443b;
        line-height: 1;
        text-align: left;
        padding: 25px 15px 25px 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
      }
      .cats-list-sub {
        line-height: 1;
        list-style: none;
        padding: 5px 15px 15px 15px;
        margin: 0;
        & li {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 150px;
          width: 100%;
        }
        a {
          color: #000;
          font-size: 14px;
          line-height: 2;
        }
      }
    }
  }
  
  .see-more-preloader {
    display: none;
  }
  .fadeIn {
    animation-duration: 1s;
  }
}

/*find-event*/

.find-event {
  .find-event-wrapper {
    border-top: 1px solid #a4a4a4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1);
    padding-top: 40px;
    padding-bottom: 30px;
    .title {
      font-size: 26px;
      color: rgb(15, 15, 17);
      text-align: left;
      position: relative;
      line-height: 1;
      font-weight: 600;
      font-family: 'Open Sans',sans-serif;
    }
  }
  & .cities-list {
    padding: 0;
    margin: 0;
    list-style: none;
    @media screen and (min-width: 1300px) {
      column-count: 8;
      column-gap: 0;
    }
    li {
      a {
        font-size: 14px;
        color: #0f0f11;
        line-height: 2;
        font-weight: 600;
        text-decoration: none;
        display: inline-block;
        position: relative;
        opacity: .6;
        @media screen and (min-width: 1200px) {
          width: 75%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
        }
        &:after {
          position: absolute;
          content: "";
          display: block;
          height: 1px;
          left: 0;
          bottom: 2px;
          background: #eb5048;
          width: 0;
          transition: all 0.4s ease;
        }
      }
      a:hover {
        &:after {
          width: 100%;
        }
      }
    }
  }
  & .by-state {
    margin-top: 35px;
  }
  & .popular {
    padding-bottom: 10px;
  }
}

.title-page {
  padding: 23px 0 27px;
  h1 {
    margin-top: 0;
    margin-bottom: 15px;
    line-height: 1;
  }

  .page-title{
    margin-top: 0;
    margin-bottom: 15px;
    line-height: 1;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
  }

  p {
    margin: 0;
  }
}

.alphabet-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
  line-height: 1;
  padding: 0 8px;


  @media screen and (max-width: 400px){
    padding: 0;
    justify-content: center;
  }

  div:not(.search-from) {
    margin: 0 11px 24px;
    line-height: 1;
    width: 50px;
    height: 50px;
    text-align: center;
    @media screen and (max-width: 360px){
      margin: 0 8px 24px;
    }
    & a {
      color: #1f1f21;
      display: block;
      width: 100%;
      height: inherit;
      padding: 15px;
      font-weight: 600;
      line-height: 1;
      background: #fff;
      transition: all 0.3s ease;
      border: 1px solid #787878;
      text-decoration: none;
      &:hover {
        background: #787878;
        color: #fff;
      }
    }

  }

  .search-from {
    max-width: 554px;
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    @media screen and (max-width: 480px){
      padding: 11px;
    }

    input {
      height: 50px;
    }

    button {
      position: absolute;
      font-size: 16px;
      max-width: 143px;
      color: #fff;
      text-transform: uppercase;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      width: 100%;
      height: 50px;
      @media screen and (min-width: 481px){
        top: 0;
        right: 0;
      }
      @media screen and (max-width: 480px){
        position: relative;
        max-width: none;
        width:100%;
      }
    }
  }
}

.element-list {
  padding: 0 19px;
  margin-top: 36px;
  .element-item {
    border: 1px solid rgb(120, 120, 120);
    margin-bottom: 12px;
    a {
      display: block;
      padding: 11px 20px;
      font-size: 16px;
      font-weight: 600;
      color: rgb(31, 31, 33);
      line-height: 1;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      text-decoration: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      &:hover {
        background: #787878;
        color: #fff;
      }
    }
  }
}

.back-top {
  background-color: rgb(71, 71, 71);
  font-size: 16px;
  color: rgb(255, 255, 255);
  border: 1px solid transparent;
  margin: 20px 0;
  box-shadow: none;

  & i {
    padding-right: 10px;
  }

  &:hover,
  &:focus {
    background: #fff;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    color: rgb(71, 71, 71);
    border: 1px solid rgb(71, 71, 71);
    box-shadow: none;
  }
}

.flat-pagination {
  margin: 20px 0;
  & li {
    a {
      color: #1f1f21;
      display: block;
      width: 40px;
      height: 37px;
      line-height: 37px;
      background: #fff;
      transition: all 0.3s ease;
      border: 1px solid #d6d6d6;
      text-decoration: none;
      font-weight: 600;
      &:hover {
        background: #787878;
        color: #fff;
      }

      @media screen and (max-width: 640px) {
        width: 25px;
        height: 30px;
        line-height: 30px;
      }
    }
  }
}

/*---------------*/
/***** Roxy *****/
/*---------------*/

.cities-list {
  margin-bottom: 26px;
  div[class*="col-"] {
    padding: 0;
  }
}

figure {
  position: relative;
  overflow: hidden;
  margin: 0 0;
  max-height: 150px;
  width: 100%;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
  figcaption {
    color: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &.effect-roxy {
    background: linear-gradient(45deg, #171616 0, #101010 100%);
    img {
      max-width: none;
      width: -webkit-calc(100% + 60px);
      width: calc(100% + 60px);
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      -webkit-transform: translate3d(-50px, 0, 0);
      transform: translate3d(-50px, 0, 0);
    }
    figcaption {
      &::before {
        position: absolute;
        top: 30px;
        right: 30px;
        bottom: 30px;
        left: 30px;
        /*border: 1px solid #fff;*/
        content: '';
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(-20px, 0, 0);
        transform: translate3d(-20px, 0, 0);
      }
      text-align: center;
    }
    .city-name {
      text-align: center;
      color: rgb(255, 255, 255);
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      width: 100%;
      padding: 0 50px;
      font-size: 32px;
      font-weight: 400;
    }
    p {
      opacity: 0;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }
    a {
      position: absolute;
      display: block;
      width: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    &:hover {
      img {
        opacity: 0.7;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
      figcaption::before, p {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

/*---------------*/
/***** Category *****/
/*---------------*/

.category {

  div[class*="ticket-atts"] div[class*="col"] {
    padding: 0 15px
  }
  .category-item {
     margin-top: 40px;
  }

}


/*---------------*/
/***** Text Block *****/
/*---------------*/
.section-title,
.section-title-text {
  margin-bottom: 33px;
  font-size: 32px;
  color: #0f0f11;
  line-height: 1;
  font-weight: 700;
}
