h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  line-height: 1;
}

.sub-title {
  font-family: 'Josefin Sans', sans-serif;
}

.section-title {
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 35px;
  font-size: 32px;
  color: rgb(15, 15, 17);
  font-weight: 700;
  line-height: 1;
}

body {
  font-family: 'Open Sans', sans-serif;
}

body.overflow-hidden {
  overflow: hidden;
}

.navbar {
  margin-bottom: 0;
  border-width: 0;
  overflow: hidden;
}

.cooncertics-nav {
  & .navbar-nav {
    & li {
      & a {
        text-transform: uppercase;
      }
    }
  }
}

.nav-right {
  margin-top: 4px;
  text-align: right;
}

.navbar-default {
  .navbar-brand {
    background: #ea443b;
    text-align: center;
    line-height: 1;
    transition: all 0.3s ease;
    padding: 20px 6px;
    position: relative;
    z-index: 999;
    &:hover {
      color: #e6e6e6;
      background-color: #ea443b;
      opacity: 0.85
    }
    img {
      height: 100%;
      display: inline-block;
      max-width: 140px;
    }
  }
  .navbar-nav > li > a {
    padding-top: 22px;
    padding-bottom: 22px;
    line-height: 1.6;
    img {
      display: inline-block;
      padding-right: 10px;
    }
  }

}

.sign-in {
  display: inline;
  li {
    display: inline-block;
    margin-top: 10px;
    a {
      color: #fff;
      font-size: 14px;

      img {
        display: inline-block;
        padding-right: 15px;
        max-width: 29px;
      }
    }
  }
}

/* ==========================================================================
 	Banner Job
========================================================================== */

.banner-search {
  background-image: url(../img/banner-search.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
  position: relative;
  padding: 135px 0 91px;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(00, 00, 00, 0.6);
  }
  .site-title {
    font-size: 50px;
    color: #fff;
    margin-top: 22px;
    line-height: 1;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    z-index: 2;
    position: relative;
  }
  .sub-title {
    font-size: 34px;
    font-weight: 300;
    margin: 18px 0 45px;
    color: #fff;
    line-height: 1;
    z-index: 2;
    position: relative;
  }
  & .banner-form input {
    margin-left: 0;
    width: 100%;
  }
}

/* ==========================================================================
 	banner-form
 ========================================================================== */

.banner-form{
  position: relative;
  & .concert-search {
    position: absolute;
    top: 70px;
    z-index: 99;
    border: 1px solid #ECEDEF;
    background-color: #fff;
    display: none;
    text-align: left;
    font-size: 14px;
    width: 100%;
    line-height: 1;
  }

  & .concert-search ul{
    list-style-type: none;
    line-height: 1;
    color: #525252;
    list-style-position: outside;
    padding-left: 12px;
    padding-right: 12px;
  }

  @media screen and (max-width: 885px){
    & .concert-search{
      width: 100%;
      left:0;
      right: 0;
      transform: translate(0);
    }
  }
  & .concert-search ul li {
    line-height: 1;
    margin-left: 0;
    text-align: left;
    padding: 15px 0;
  }

  & .concert-search li a {
    display: block;
    color: #525252;
    text-decoration: none;
    line-height: 1;
    text-transform: none;
  }

  & .concert-search ul li a strong{
    font-weight:bold;
  }
}

.banner-form, .top-search-form {
  padding: 5px 0;
  width: 784px;
  margin: 0 auto;
  text-align: left;
  form {
    border-radius: 0;
    background-color: #fff;
    position: relative;
  }
  input {
    padding: 0 18px 0;
    margin: 0 0 0 -4px;
    width: 100%;
    border: none;
    height: 60px;
  }
  button {
    &.btn.btn-primary {
      position: absolute;
      right: -2px;
      bottom: 0;
      font-size: 16px;
      max-width: 143px;
      color: #fff;
      text-transform: uppercase;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      height: 100%;
      width: 100%;
      padding: 10px 0;
    }
    &:hover {
      background: #e0423a;
    }
  }
}

.top-search-form {
  position: relative;
  input {
    border: 1px solid #787878;
  }

  & .concert-search {
    position: absolute;
    top: 55px;
    z-index: 99;
    border: 1px solid #ECEDEF;
    background-color: #fff;
    display: none;
    text-align: left;
    font-size: 14px;
    width: 100%;
    line-height: 1;

    @media screen and (max-width:885px) {
      width: 100%;
      left: 0;
      right: 0;
      -webkit-transform: translate(0);
      transform: translate(0)
    }
  }

  & ul {
    list-style-type: none;
    line-height: 1;
    color: #525252;
    list-style-position: outside;
    padding-left: 12px;
    padding-right: 12px;

    & li {
      line-height: 1;
      margin-left: 0;
      text-align: left;
      padding: 15px 0;

      & a {
        display: block;
        color: #525252;
        text-decoration: none;
        line-height: 1;
        text-transform: none;

        & strong{
          font-weight: 700;
        }
      }
    }

  }


}

/* md */

@media (min-width: 992px) and (max-width: 1199px) {
  .banner-form,.top-search-form {
    button.form-control {
      height: 48px;
    }
  }
}

@media (min-width: 992px) {
  .top-search-form {
    width: 895px;
    margin: 0 auto;
    input {
      border: 1px solid #787878;
      height: 50px;
    }
  }
  .navbar {
    height: 70px;
  }
  .navbar-header{
    float: left;
  }
}

/* sm */

@media (min-width: 768px) and (max-width: 991px) {
  .banner-form input {
    min-width: 355px;
  }
  .banner-form {
    button.form-control {
      height: 47px;
    }
    &.banner-form-full button.btn.btn-primary {
      height: 45px;
      right: 0;
    }
  }
}

@media (max-width: 991px) {
  .banner-form,.top-search-form {
    width: 100%;
  }

  .navbar-toggle{
    display: block;
  }
}

/* xs */

@media (max-width: 767px) {
  h1 {
    font-size: 30px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 14px;
  }
  .banner-search .site-title {
    font-size: 36px;
    line-height: 38px;
  }
  .banner-section .sub-title {
    font-size: 18px;
  }
  .banner-form, .top-search-form {
    width: 100%;
    .form-control {
      max-width: 100%;
      min-width: 100%;
      width: 100%;
      border-radius: 0;
      margin-left: 0;
      border-bottom: none;
      border-right: 0;
    }
    button.btn.btn-primary {
      max-width: 100%;
      min-width: 100%;
      width: 100%;
      border-radius: 0;
      margin-left: 0;
      border-bottom: none;
      border-right: 0;
      margin-bottom: 0;
      position: inherit;
      right: 0;
      bottom: 0;
      height:60px;
    }
  }

  .top-search-form {
    .form-control {
      border: 1px solid #9E9E9E;
      box-shadow: none;
    }

    button.btn.btn-primary {
      border:1px solid #e82e24;
      height: 60px;
    }
  }
  .banner-form-full.banner-form input {
    min-width: 100%;
  }
  .banner-form button.form-control, .top-search-form button.form-control{
    margin-left: 0;
    border-radius: 0;
  }
}

/* breadcrumb */

.breadcrumb {
  background: transparent;
  padding: 0;
  margin: 60px 0 0 0;
}

/* XS Portrait */

@media (max-width: 479px) {
  .banner-form-full.banner-form input {
    min-width: 100%;
  }
}

.st0 {
  font-family: 'RobotoMono-Medium';
}

.st1 {
  font-size: 19px;
}

.st2 {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.flex-row {
  display: flex;
}

.flex-space {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.flex-row.middle-flex {
  align-items: center;
  justify-content: center;
  align-content: center;
}

.btn-see-more {
  min-width: 140px;
  max-width: 200px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

.btn {
  padding-left: 17px;
  padding-right: 17px;
}

/* paddings */

.padding-top-35 {
  padding-top: 35px;
}

.padding-top-50 {
  padding-top: 50px;
}

/* margins */

.margin-tb-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.margin-tb-45 {
  margin-top: 45px;
  margin-bottom: 45px;
}
.margin-t-45 {
  margin-top: 45px;
}

.margin-tb-35 {
  margin-top: 35px;
  margin-bottom: 35px;
}

.margin-tb-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.margin-t-30 {
  margin-top: 30px;
}

.margin-b-15 {
  margin-bottom: 15px;
}

.no-margin {
  margin: 0;
}

/* list */

.list-inline {
  padding: 0;
  margin: 0;
  list-style: none;

  & li {
    display: inline-block;
  }
}

/* reset paddings */

.col-no-padding {
  div[class*="col-"] {
    padding: 0;
  }
}

.no-padding {
  padding: 0;
}

/* Color */

.color-primary {
  color: #e9443b;
}

/* Section */

.page-section {
  padding-top: 50px;
  padding-bottom: 0;
}

/* span block*/

.span-block {
  display: block;
}