
/***** Footer ******/

footer {
    margin-top: 60px;
    background: #0f0f11;
    padding-top: 50px;
    padding-bottom: 35px;
    & .footer-logo {
        background: #ea443b;
        text-align: center;
        line-height: 1;
        font-size: 20px;
        height: 66px;
        display: block;
        margin: 25px 0;
        max-width: 160px;
        img {
            height: 100%;
            display: inline-block;
            max-width: 140px;
        }
    }
    & .footer-service {
        a {
            color: #fff;
        }
    }
    & .footer-title {
        font-size: 26px;
        color: rgb(255, 255, 255);
        line-height: 1.2;
    }
    & .img-responsive {
        margin: 0 auto;
    }
}

.footer-service {
    padding: 0 85px 0 15px;
    margin: 25px 0;
    list-style: none;
    position: relative;
    li {
        position: relative;
        a {
            line-height: 2.1;
            font-size: 16px;
            color: rgb(255, 255, 255);
            font-weight: 400;
            letter-spacing: 0.5px;
        }
    }
}

.copyright {
    background: #0f0f11;
    color: #fff;
    padding: 10px 0;
    border-top: 1px solid #fff;
    line-height: 1;
}


/*
/* -------------------------------- 

xnugget info 

-------------------------------- */

.cd-nugget-info {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 50px;
    line-height: 50px;
    bottom: 0;
    left: 0;
}

.cd-nugget-info a {
    position: relative;
    font-size: 14px;
    color: #5e6e8d;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.no-touch .cd-nugget-info a:hover {
    opacity: .8;
}

.cd-nugget-info span {
    vertical-align: middle;
    display: inline-block;
}

.cd-nugget-info span svg {
    display: block;
}

.cd-nugget-info .cd-nugget-info-arrow {
    fill: #5e6e8d;
}


/* -------------------------------- 

xpopup 

-------------------------------- */

.cd-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.6s 0s, visibility 0s 0.6s;
    -moz-transition: opacity 0.6s 0s, visibility 0s 0.6s;
    transition: opacity 0.6s 0s, visibility 0s 0.6s;
    z-index:998;
    & .row {
        margin: 0;
    }
}

.cd-popup.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.6s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.6s 0s, visibility 0s 0s;
    transition: opacity 0.6s 0s, visibility 0s 0s;
}

.cd-popup-close {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 25;
    background: transparent;
    border: none;
    font-size: 0;
    width: 55px;
    height: 45px;
    display: block;
    &:before {
        content: "";
        position: absolute;
        top: 16px;
        left: 12px;
        width: 30px;
        height: 2px;
        background: #fff;
        transform: translateY(3px) rotate(135deg);
        -webkit-transition: -webkit-transform .3s ease-out;
        transition: -webkit-transform .3s ease-out;
        transition: transform .3s ease-out;
        transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    }
    &:after {
        content: "";
        position: absolute;
        top: 16px;
        left: 12px;
        width: 30px;
        height: 2px;
        background: #fff;
        -webkit-transition: -webkit-transform .3s ease-out;
        transition: -webkit-transform .3s ease-out;
        transition: transform .3s ease-out;
        transition: transform .3s ease-out, -webkit-transform .3s ease-out;
        top: auto;
        bottom: 20px;
        transform: translateY(-3px) rotate(45deg);
    }
}

.cd-popup .logo {
    background: #ea443b;
    height: 70px;
    line-height: 70px;
    width: 200px;
    text-align: center;
    font-size: 24px;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 25;
}

.cd-popup-container {
    position: relative;
    width: 100%;
    padding-top: 112px;
    background: rgba(0, 0, 0, .95);
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: .6s;
    transition-duration: .6s;
    padding-bottom: 50px;
}

.is-visible .cd-popup-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.menu-wrap {
    .menu-title {
        font-size: 32px;
        color: #fff;
        font-weight: 500;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 30px;
    }
    .menu-list {
        ul {
            padding: 0 51px;
            margin: 0;
            list-style: none;
            column-count: 3;
            text-align: left;
            @media screen and (min-width: 992px) {
                & li {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 150px;
                }
            }
            a {
                color: #fff;
                font-size: 16px;
                line-height: 1.875;
                text-align: left;
                transition: all 0.3s ease;
                text-decoration: none;
                opacity: 0.8;
                &:hover,
                &:focus {
                    color: #ea443b;
                }
            }
        }
    }
    .on-tour.menu-list {
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            column-count: 1;
            text-align: left;
        }
    }
    .cat-title {
        font-size: 20px;
        color: rgb(255, 255, 255);
        line-height: 1;
        text-align: left;
        margin-bottom: 25px;
        @media screen and (min-width: 992px) {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 150px;
        }
        @media screen and (max-width: 768px) {
            text-align: center;
        }
        a {
            color: rgb(255, 255, 255);
            transition: all 0.3s ease;
            text-decoration: none;
            &:hover,
            &:focus {
                color: #ea443b;
            }
        }
    }
}