@media screen and (min-width: 1299px) {
    .footer-service {
        li {
            &:nth-child(1):before,
            &:nth-child(3):before {
                content: "";
                height: 20px;
                background: #eb5048;
                width: 1px;
                position: absolute;
                display: block;
                right: 28px;
                top: 24px;
            }
        }
    }
    footer {
        .footer-service-wrap {
            padding: 0;
        }
    }
}

@media screen and (max-width: 1299px) {
    .footer-service {
        margin: 0;
        padding: 0;
    }
    footer .footer-title {
        font-size: 19px;
    }


}

@media screen and (min-width: 992px) and (max-width: 1299px) {
    .find-event {
        .cities-list {
            column-count: 4;
        }
    }
    .blog-list{
        .blog-list-item{
            .blog-list-item-thumb,
            .blog-list-item-text{
                padding: 0 15px;
            }
        }
    }

    .navbar-nav>li>a {
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media screen and (min-width: 992px) {
    footer {
        .protection {
            text-align: center;
        }
    }
}

@media screen and (max-width: 991px) {
    .margin-sm-15 {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .margin-sm-10 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /* Footer */
    footer {
        .protection {
            border-top: 1px solid rgba(255, 255, 255, 0.48);
            padding-top: 25px;
        }
    }

    /* Collapse */

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .find-event {
        .cities-list {
            column-count: 3;
        }
    }
    .categories {
        .cats-list-box {
            & .cats-list {
                top: 82%;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .two-columns {
        column-count: 2;
        column-gap: 30px;
        height: auto!important;
    }

    /*find-event*/
    .find-event {
        .find-event-wrapper {
            padding-left: 30px;
            padding-right: 30px;
        }
        /*popular*/
        & .popular {
            & .title:after {
                position: absolute;
                content: "";
                display: block;
                height: 1px;
                left: 0;
                top: 70px;
                background: #eb5048;
                width: 40px;
            }
        }
    }
    /*home-text*/
    .home-text {
        .text {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    /*popup*/
    .on-tour.menu-list {
        margin: 0 120px;
    }
    /* footer*/
    footer {
        div[class*="col-md-2 logo-wrap"] {
            padding: 0;
        }
        & .footer-service {
            column-count: 3;
            column-gap: 10px;
        }
    }


}

@media screen and (max-width: 767px) {
    .buy-ticket {
        .ticket-atts {
            div[class*='col-'] {
                width: 100%;
                text-align: left!important;
            }
        }
    }
    .find-event {
        .find-event-wrapper {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .cats-slider {
        margin: 0!important;
        div[class*='col-'] {
            padding: 0 5px;
        }
    }
    .home-section.categories {
        overflow: hidden;
        .container-fluid {
            padding: 0;
        }
    }
    .flex-row {
        flex-direction: column;
    }
    .margin-xs-5 {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .margin-xs-15 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    /*
    popup
    */
    .cd-popup {
        background-color: rgb(0, 0, 0);
    }
    body.overflow-hidden .cd-popup {
        overflow-y: scroll;
        .menu-list {
            ul {
                column-count: 1;
                text-align: center;
                padding: 0 25px 50px 25px;
            }
        }
    }
    /* expand */
    .body-expand-container {
        position: relative;
        overflow: hidden;
        transition: all 0.3s ease;
        height: 105px;
    }
    .body-expand-container-hide {
        text-align: center;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.72) 18%, #fff 100%);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60px;
        transition: all 0.3s ease;
        padding-top: 10px;
    }
    .body-expand-container-hide.ex-open {
        position: relative;
    }
    .body-expand-container-hide.ex-close {
        position: absolute;
    }
    .body-expand-container-hide button {
        background: transparent;
        border: none;
        width: 30px;
        height: 30px;
        display: block;
        margin: 0 auto;
        position: relative;
        padding: 0;
        font-size: 28px;
        outline: none;
        transition: all 0.3s ease;
    }
    .body-expand-container-hide button:focus,
    .body-expand-container-hide button:hover {
        opacity: 0.89;
        outline: none;
    }

    .single-blog {
        h1 {
            font-size: 32px;
            line-height: 1.2;
            margin-top: 35px;
        }
        &-meta{
            padding-left: 20px;
        }
    }
}