/* Single City */

.single-post-title {

  .post-title-wrap {
    align-self: center;
    text-align: center;
    margin-bottom: 25px;

    & .post-title {
      padding-left: 0;

      h1 {
        font-size: 32px;
        color: rgb(15, 15, 17);
        margin-bottom: 15px;
        line-height: 1;
      }

      p {
        line-height: 1.5;
        font-size: 18px;
        color: rgb(15, 15, 17);
        line-height: 1.556;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .post-img-wrap {

      img {
        height:160px;
      }

      &:before {
        content: "";
        display: block;
        width: 40px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background-image: linear-gradient(left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
      }
    }

    .post-title-wrap {
      align-self: center;
      margin-bottom: 0;
      text-align: left;

      & .post-title {
        padding-left: 50px;
      }
    }
  }

}

.pick-month {
  padding: 32px 0;
  border-top: 1px solid #a3a3a4;
  border-bottom: 1px solid #a3a3a4;

  & .pick-title {
    font-size: 24px;
    color: rgb(234, 68, 59);
    line-height: 1.2;
    font-weight: 700;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    @media screen and (max-width: 767px) {
      margin-top: 25px;
    }

    li {
      a {
        padding: 6px 14px;
        display: block;
        border: 1px solid #ccc;
        line-height: 1;
        color: #0f0f11;
        font-size: 14px;
        text-decoration: none;
        letter-spacing: -0.2px;
        transition: all 0.3s ease;

        &:hover {
          background: #d1d1d1;
        }
      }
    }
  }
}

.single-city-content {
  padding: 50px 0 10px 0;
  .single-city-top {
    h2{
      margin-bottom:30px;
    }
  }
  h2 {
    font-size: 32px;
    color: rgb(15, 15, 17);
    line-height: 1;
  }
}

/* Event Table */

.event {
  width: 100%;
  margin-bottom: 0;

  &-timedate {
    padding: 15px 5px 35px 5px;
    vertical-align: top;
    text-align: left;
    border-right: 1px solid #a3a3a4;
      @media screen and (min-width: 640px) {
        padding-left: 25px;
        padding-right: 20px;
      }
  }

  @media screen and (min-width: 1300px) {
    &-timedate {
      min-width: 349px;
    }

    &-location {
      min-width: 500px;
    }
  }

  &-date {
    font-size: 14px;
    color: rgb(0, 0, 0);
    line-height: 1;
    font-weight: 600;
    margin-bottom: 20px;
    @media screen and (min-width: 640px) {
      font-size: 20px;
    }
  }

  &-time {
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    line-height: 1;
    padding-right: 5px;
    position: relative;
    vertical-align: top;

    @media screen and (min-width: 640px) {
      font-size: 16px;
      padding-left: 25px;
      padding-right: 25px;

      &:before {
        content: "\f017";
        font: normal normal normal 14px/1 FontAwesome;
        display: block;
        position: absolute;
        left: 0;
        top: -3px;
        font-size: 20px;
      }
    }
  }

  &-author {
    font-size: 14px;
    color: rgb(0, 0, 0);
    line-height: 1;
    font-weight: 600;
    margin-bottom: 20px;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    vertical-align: top;


    @media screen and (min-width: 640px) {
      padding-left: 25px;
      padding-right: 25px;
      font-size: 20px;

      &:before {
        content: "\f001";
        font: normal normal normal 14px/1 FontAwesome;
        display: block;
        position: absolute;
        left: 0;
        top: 2px;
        font-size: 20px;
      }
    }
  }

  &-city {
    font-size: 14px;
    color: rgb(120, 120, 120);
    line-height: 1;
    position: relative;
    padding-left: 5px;
    display: inline-block;

    @media screen and (min-width: 640px) {
      font-size: 16px;
      padding-left: 25px;
      &:before {
        content: "\f041";
        font: normal normal normal 14px/1 FontAwesome;
        display: block;
        position: absolute;
        left: 5px;
        top: -2px;
        font-size: 20px;
        color: #000;
      }
    }
  }

  @media screen and (min-width: 640px) {
    .separator-wrap {
      position: relative;
      &:after {
        content: "";
        width: 100%;
        height: 1px;
        background: #c2c2c2;
        position: absolute;
        bottom: -6px;
        left: 0px;
      }
    }
  }
    &-place {
      font-size: 14px;
      color: rgb(120, 120, 120);
      line-height: 1;
      position: relative;
      padding-left: 5px;
      display: inline-block;

      @media screen and (min-width: 640px) {
        font-size: 16px;
        padding-left: 25px;
      }
    }

  &-location {
    text-align: left;
    line-height: 1;
    padding:15px 5px 35px 5px;
    vertical-align: top;

    @media screen and (min-width: 640px) {
      padding-left: 25px;
      padding-right: 5px;
    }
  }

  &-btn {
    vertical-align: middle;
    padding-right: 5px;
    padding-left: 5px;

    @media screen and (min-width: 640px) {
      padding-left: 25px;
      padding-right: 5px;
    }

    .btn {
      max-width: 150px;
      padding-top: 14px;
      padding-bottom: 14px;
      margin: 0 auto;
      font-size: 14px;
      color: rgb(255, 255, 255);
      line-height: 1;

      @media screen and (min-width: 640px) {
        font-size: 20px;
      }
    }
  }

}

tr {
  border: 1px solid #a3a3a4;
}

.chart {
  .title{
    margin-bottom: 30px;
    line-height: 1;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Josefin Sans',sans-serif;
  }

  &-img{
    max-width:700px;
    margin: 0 auto;
    border: 1px solid #a3a3a4;
    padding:4px 0 4px 0;
  }
  img{
    margin:0 auto;
  }
}

