/* Single City */

.single-state-content{
  padding: 30px 0 10px 0;

  & .cities-list div[class*="col-"] {
    padding: 0 10px;
  }

  @media screen and (max-width: 992px) {
    & .cities-list div[class*="col-"] {
      padding: 10px 10px;
    }

  }

  figure.effect-roxy .city-name {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    width: 100%;
    padding: 0 50px;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.273;
  }

  @media screen and (min-width: 992px) {
    .states-el-row {
      margin-bottom: 20px;
    }
  }

  figure {
    max-height: 200px;
  }

}