<div id="albums" class="tab-pane albums">
    <h3>The Albums of Coldplay:</h3>
    <ul>
        <li>2000 "Parachutes"</li>
        <li>2002 "A Rush of Blood to the Head"</li>
        <li>2005 "X&Y"</li>
        <li>2008 "Viva la Vida or Death and All His Friends"</li>
        <li>2011 "Mylo Xyloto"</li>
        <li>2014 "Ghost Stories"</li>
        <li>2015 "A Head Full of Dreams"</li>
    </ul>
</div>