<div id="biography" class="tab-pane in active biography">
    <h3>Coldplay</h3>

    <!-- !INFO! if Similar > 4, add new .row>.col-md-3 col-sm-3 margin-xs-15 biography-item -->

    <div class="row artist-slider popup-gallery" data-count="4">
        <div class="col-md-3 col-sm-3 margin-xs-15 biography-item">
            <a href="img/artist/Layer 661.png" class="popup-img">
                <img src="img/artist/Layer 661.png" alt="Coldplay" class="img-responsive">
            </a>
        </div>
        <div class="col-md-3 col-sm-3 margin-xs-15 biography-item">
            <a href="img/artist/Layer 6611.png" class="popup-img">
                <img src="img/artist/Layer 6611.png" alt="Coldplay" class="img-responsive">
            </a>
        </div>
        <div class="col-md-3 col-sm-3 margin-xs-15 biography-item">
            <a href="img/artist/Layer 6612.png" class="popup-img">
                <img src="img/artist/Layer 6612.png" alt="Coldplay" class="img-responsive">
            </a>
        </div>
        <div class="col-md-3 col-sm-3 margin-xs-15 biography-item">
            <a href="img/artist/Layer 6613.png" class="popup-img">
                <img src="img/artist/Layer 6613.png" alt="Coldplay" class="img-responsive">
            </a>
        </div>
    </div>
    <div class="text two-columns body-expand-container margin-t-30">
        <p>Life is an adventure. Celebrate it with the music that gives you goose bumps. Dive into the
            amazing atmosphere of live performances and unbelievably good music. The industry has a great
            variety of genres and types of music to offer.</p>
        <p>We are proud to present a service that will help music enthusiast get tickets to the most
            anticipated concerts of this year. Whenever you find it difficult to find the best deal on the
        </p>
        <p>It may seem as though every Concert Ticket price is increased because of an unfairly high
            commission depending, of course, on the popularity of the performer. It is a frequent situation
            with other services. We, however, assure that
            you can buy Cheap Concert Tickets with the help of our service. We accomodate our customers with
            the closest valu e to the initial ticket worth. Concertics can afford that as we buy Concert
        </p>
        <div class="visible-xs body-expand-container-hide ex-close">
            <button class="b" role="button">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>