<div id="clips" class="tab-pane clips">
    <!-- !INFO! if Similar > 4, add new .row>.col-md-3 col-sm-3 col-xs-6 -->

    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6 clip-item margin-xs-15">
            <a class="popup-youtube" href="https://www.youtube.com/watch?v=1G4isv_Fylg">
                <img src="img/artist/Layer 661.png" alt="Coldplay" class="img-responsive">
            </a>
            <div class="clip-title">Coldplay - Paradise (Official Video)</div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 clip-item margin-xs-15">
            <a class="popup-youtube" href="https://www.youtube.com/watch?v=1G4isv_Fylg">
                <img src="img/artist/Layer 661.png" alt="Coldplay" class="img-responsive">
            </a>
            <div class="clip-title">Coldplay - Paradise (Official Video)</div>
        </div>
    </div>
</div>

