<div id="setlist" class="tab-pane setlist">
    <h3>Coldplay Setlist 2017:</h3>
    <ol>
        <li>Paradise</li>
        <li>Viva la vida</li>
        <li>Fix you</li>
        <li>Princess of China (With Rihanna )</li>
        <li>Yellow</li>
        <li>The scientist</li>
        <li>A sky full of stars</li>
        <li>Every reardrop is a waterfall</li>
        <li>Clocks</li>
        <li>Adventure of a lifetime</li>
        <li>Magic</li>
    </ol>
</div>