<div id="similar" class="tab-pane similar">

    <!-- !INFO! if Similar > 4, add new .row>.col-md-3 col-sm-3 col-xs-6 -->

    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6 similar-item margin-xs-15">
            <a href="">
                <img src="img/artist/Layer 6613.png" alt="Brandon Flowers" class="img-responsive">
                <span class="similar-title span-block">Brandon Flowers</span>
                <span class="similar-cat span-block">Dance music, rock</span>
            </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 similar-item margin-xs-15">
            <a href="">
                <img src="img/artist/Layer 6613.png" alt="The Killers" class="img-responsive">
                <span class="similar-title span-block">The Killers</span>
                <span class="similar-cat span-block">Dance music, rock</span>
            </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 similar-item margin-xs-15">
            <a href="">
                <img src="img/artist/Layer 6613.png" alt="Florence + The Machine" class="img-responsive">
                <span class="similar-title span-block">Florence + The Machine</span>
                <span class="similar-cat span-block">Indie</span>
            </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 similar-item margin-xs-15">
            <a href="">
                <img src="img/artist/Layer 6613.png" alt="Muse" class="img-responsive">
                <span class="similar-title span-block">Muse</span>
                <span class="similar-cat span-block">Alternative, rock</span>
            </a>
        </div>
    </div>
</div>