<div class="cd-popup" role="alert" id="all-artist">
    <button class="cd-popup-close img-replace">
        Close
    </button>

    <div class="menu-wrap cd-popup-container">
        <div class="menu-title">
            HOT ARTISTS
        </div>
        <div class="menu-list row ">
            <div class="col-sm-9 col-sm-offset-2 ">
                <ul>
                    <li><a href="">J. Cole</a></li>
                    <li><a href="">Jack Johnson</a></li>
                    <li><a href="">James Taylor</a></li>
                    <li><a href="">John Mayer</a></li>
                    <li><a href="">Justin Bieber</a></li>
                    <li><a href="">Lady Gaga</a></li>
                    <li><a href="">Lollapalooza</a></li>
                    <li><a href="">Luke Bryan</a></li>
                    <li><a href="">Neil Diamond</a></li>
                    <li><a href="">New Kids on the Block</a></li>
                    <li><a href=""> Panic! At the Disco</a></li>
                    <li><a href=""> Red Hot Chili Peppers</a></li>
                    <li><a href=""> Roger Waters</a></li>
                    <li><a href=""> Sam Hunt</a></li>
                    <li><a href=""> Shawn Mendes</a></li>
                    <li><a href=""> Tom Petty</a></li>
                    <li><a href=""> Tool</a></li>
                    <li><a href=""> U2</a></li>
                    <li><a href=""> The Weeknd</a></li>
                    <li><a href=""> Zac Brown Band</a></li>
                    <li><a href="">One Republic</a></li>
                    <li><a href="">Breaking Benjamin</a></li>
                    <li><a href="">Mipso</a></li>
                    <li><a href="">Taylor Swift</a></li>
                    <li><a href="">Elle King</a></li>
                    <li><a href="">Luke Bryan</a></li>
                    <li><a href="">Garth Brooks</a></li>
                    <li><a href="">Rihanna</a></li>
                    <li><a href="">Sia</a></li>
                    <li><a href="">Jannifer Lopez</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>