<div class="row cats-slider js-cat-list">
    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
        <div class="cats-list-box">
            <img src="img/cats/cats1.jpg" alt="" class="img-responsive" srcset="img/cats/cats1.jpg 400w" srcset="img/cats/cats1.jpg 400w">
            <div class="cats-list">
                <h2 class="title">POP/ROCK</h2>
                <ul class="cats-list-sub">
                    <li>
                        <a href="">Demi Lovato</a>
                    </li>
                    <li>
                        <a href="">Gwen Stefani</a>
                    </li>
                    <li>
                        <a href="">Olivia Holt</a>
                    </li>
                    <li>
                        <a href="">Demi Lovato</a>
                    </li>
                    <li>
                        <a href="">Demi Lovato</a>
                    </li>
                    <li>
                        <a href="">Demi Lovato</a>
                    </li>
                    <li>
                        <a href="">Jingle All The Way</a>
                    </li>
                    <li>
                        <a href="">High School Musical</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
        <div class="cats-list-box">
            <img src="img/cats/cats1.jpg" alt="" class="img-responsive" srcset="img/cats/cats1.jpg 400w">
            <div class="cats-list">
                <h2 class="title">CLASSICAL</h2>
                <ul class="cats-list-sub">
                    <li>
                        <a href="">Demi Lovato</a>
                    </li>
                    <li>
                        <a href="">Gwen Stefani</a>
                    </li>
                    <li>
                        <a href="">Olivia Holt</a>
                    </li>
                    <li>
                        <a href="">Demi Lovato</a>
                    </li>
                    <li>
                        <a href="">Demi Lovato</a>
                    </li>
                    <li>
                        <a href="">Demi Lovato</a>
                    </li>
                    <li>
                        <a href="">Jingle All The Way</a>
                    </li>
                    <li>
                        <a href="">High School Musical</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
        <div class="cats-list-box">
            <img src="img/cats/cats1.jpg" alt="" class="img-responsive" srcset="img/cats/cats1.jpg 400w">
            <div class="cats-list">
                <h2 class="title">LAS VEGAS SHOWS</h2>
                <ul class="cats-list-sub">
                    <li>
                        <a href="">Demi Lovato</a>
                    </li>
                    <li>
                        <a href="">Gwen Stefani</a>
                    </li>
                    <li>
                        <a href="">Olivia Holt</a>
                    </li>
                    <li>
                        <a href="">Demi Lovato</a>
                    </li>
                    <li>
                        <a href="">Demi Lovato</a>
                    </li>
                    <li>
                        <a href="">Demi Lovato</a>
                    </li>
                    <li>
                        <a href="">Jingle All The Way</a>
                    </li>
                    <li>
                        <a href="">High School Musical</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
        <div class="cats-list-box">
            <img src="img/cats/cats1.jpg" alt="" class="img-responsive" srcset="img/cats/cats1.jpg 400w">
            <div class="cats-list">
                <h2 class="title">REGGAE / REGGAETON</h2>
                <ul class="cats-list-sub">
                    <li>
                        <a href="">Demi Lovato</a>
                    </li>
                    <li>
                        <a href="">Gwen Stefani</a>
                    </li>
                    <li>
                        <a href="">Olivia Holt</a>
                    </li>
                    <li>
                        <a href="">Demi Lovato</a>
                    </li>
                    <li>
                        <a href="">Demi Lovato</a>
                    </li>
                    <li>
                        <a href="">Demi Lovato</a>
                    </li>
                    <li>
                        <a href="">Jingle All The Way</a>
                    </li>
                    <li>
                        <a href="">High School Musical</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
        <div class="cats-list-box">
            <img src="img/cats/cats1.jpg" alt="" class="img-responsive" srcset="img/cats/cats1.jpg 400w">
            <div class="cats-list">
                <h2 class="title">NEW AGE</h2>
                <ul class="cats-list-sub">
                    <li>
                        <a href="">Demi Lovato</a>
                    </li>
                    <li>
                        <a href="">Gwen Stefani</a>
                    </li>
                    <li>
                        <a href="">Olivia Holt</a>
                    </li>
                    <li>
                        <a href="">Demi Lovato</a>
                    </li>
                    <li>
                        <a href="">Demi Lovato</a>
                    </li>
                    <li>
                        <a href="">Demi Lovato</a>
                    </li>
                    <li>
                        <a href="">Jingle All The Way</a>
                    </li>
                    <li>
                        <a href="">High School Musical</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
        <div class="cats-list-box">
            <img src="img/cats/cats1.jpg" alt="" class="img-responsive" srcset="img/cats/cats1.jpg 400w">
            <div class="cats-list">
                <h2 class="title">TECHNO/ELECTRONIC</h2>
                <ul class="cats-list-sub">
                    <li>
                        <a href="">Demi Lovato</a>
                    </li>
                    <li>
                        <a href="">Gwen Stefani</a>
                    </li>
                    <li>
                        <a href="">Olivia Holt</a>
                    </li>
                    <li>
                        <a href="">Demi Lovato</a>
                    </li>
                    <li>
                        <a href="">Demi Lovato</a>
                    </li>
                    <li>
                        <a href="">Demi Lovato</a>
                    </li>
                    <li>
                        <a href="">Jingle All The Way</a>
                    </li>
                    <li>
                        <a href="">High School Musical</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
        <div class="cats-list-box">
            <img src="img/cats/cats1.jpg" alt="" class="img-responsive" srcset="img/cats/cats1.jpg 400w">
            <div class="cats-list">
                <h2 class="title">LAS VEGAS SHOWS</h2>
                <ul class="cats-list-sub">
                    <li>
                        <a href="">Demi Lovato</a>
                    </li>
                    <li>
                        <a href="">Gwen Stefani</a>
                    </li>
                    <li>
                        <a href="">Olivia Holt</a>
                    </li>
                    <li>
                        <a href="">Demi Lovato</a>
                    </li>
                    <li>
                        <a href="">Demi Lovato</a>
                    </li>
                    <li>
                        <a href="">Demi Lovato</a>
                    </li>
                    <li>
                        <a href="">Jingle All The Way</a>
                    </li>
                    <li>
                        <a href="">High School Musical</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
        <div class="cats-list-box">
            <img src="img/cats/cats1.jpg" alt="" class="img-responsive" srcset="img/cats/cats1.jpg 400w">
            <div class="cats-list">
                <h2 class="title">REGGAE / REGGAETON</h2>
                <ul class="cats-list-sub">
                    <li>
                        <a href="">Demi Lovato</a>
                    </li>
                    <li>
                        <a href="">Gwen Stefani</a>
                    </li>
                    <li>
                        <a href="">Olivia Holt</a>
                    </li>
                    <li>
                        <a href="">Demi Lovato</a>
                    </li>
                    <li>
                        <a href="">Demi Lovato</a>
                    </li>
                    <li>
                        <a href="">Demi Lovato</a>
                    </li>
                    <li>
                        <a href="">Jingle All The Way</a>
                    </li>
                    <li>
                        <a href="">High School Musical</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row padding-top-35 hidden-xs">
    <div class="col-xs-12 text-center">
        <!--<div class="see-more-preloader">
            <img src="img/ajax-loader.gif" alt="loader">
        </div>-->
        <button class="btn-primary btn btn-see-more" id="see-more-cats" data-offset="8">
            See more
        </button>
    </div>
</div>