<div class="col-md-3 col-sm-6 col-xs-12">
    <figure class="effect-roxy">
        <img src="img/popular_c/city1.png" alt="" class="img-responsive">
        <figcaption>
            <div class="city-name">Chicago</div>
        </figcaption>
        <a href=""></a>
    </figure>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
    <figure class="effect-roxy">
        <img src="img/popular_c/city2.png" alt="" class="img-responsive">
        <figcaption>
            <div class="city-name">New York</div>
        </figcaption>
        <a href=""></a>
    </figure>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
    <figure class="effect-roxy">
        <img src="img/popular_c/city3.png" alt="" class="img-responsive">
        <figcaption>
            <div class="city-name">Atlanta</div>
        </figcaption>
        <a href=""></a>
    </figure>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
    <figure class="effect-roxy">
        <img src="img/popular_c/city4.png" alt="" class="img-responsive">
        <figcaption>
            <div class="city-name">Los Angeles</div>
        </figcaption>
        <a href=""></a>
    </figure>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
    <figure class="effect-roxy">
        <img src="img/popular_c/city5.png" alt="" class="img-responsive">
        <figcaption>
            <div class="city-name">Dallas</div>
        </figcaption>
        <a href=""></a>
    </figure>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
    <figure class="effect-roxy">
        <img src="img/popular_c/city6.png" alt="" class="img-responsive">
        <figcaption>
            <div class="city-name">Boston</div>
        </figcaption>
        <a href=""></a>
    </figure>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
    <figure class="effect-roxy">
        <img src="img/popular_c/city7.png" alt="" class="img-responsive">
        <figcaption>
            <div class="city-name">San Diego</div>
        </figcaption>
    </figure>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
    <figure class="effect-roxy">
        <img src="img/popular_c/city8.png" alt="" class="img-responsive">
        <figcaption>
            <div class="city-name">Las Vegas</div>
        </figcaption>
        <a href=""></a>
    </figure>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
    <figure class="effect-roxy">
        <img src="img/popular_c/city9.png" alt="" class="img-responsive">
        <figcaption>
            <div class="city-name">Houston</div>
        </figcaption>
        <a href=""></a>
    </figure>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
    <figure class="effect-roxy">
        <img src="img/popular_c/city10.png" alt="" class="img-responsive">
        <figcaption>
            <div class="city-name">Phoenix</div>
        </figcaption>
        <a href=""></a>
    </figure>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
    <figure class="effect-roxy">
        <img src="img/popular_c/city11.png" alt="" class="img-responsive">
        <figcaption>
            <div class="city-name">Seattle</div>
        </figcaption>
        <a href=""></a>
    </figure>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
    <figure class="effect-roxy">
        <img src="img/popular_c/city12.png" alt="" class="img-responsive">
        <figcaption>
            <div class="city-name">Nashville</div>
        </figcaption>
        <a href=""></a>
    </figure>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
    <figure class="effect-roxy">
        <img src="img/popular_c/city13.png" alt="" class="img-responsive">
        <figcaption>
            <div class="city-name">Detroit</div>
        </figcaption>
        <a href=""></a>
    </figure>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
    <figure class="effect-roxy">
        <img src="img/popular_c/city14.png" alt="" class="img-responsive">
        <figcaption>
            <div class="city-name">Kansas city</div>
        </figcaption>
        <a href=""></a>
    </figure>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
    <figure class="effect-roxy">
        <img src="img/popular_c/city15.png" alt="" class="img-responsive">
        <figcaption>
            <div class="city-name">Austin</div>
        </figcaption>
        <a href=""></a>
    </figure>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
    <figure class="effect-roxy">
        <img src="img/popular_c/city16.png" alt="" class="img-responsive">
        <figcaption>
            <div class="city-name">Miami</div>
        </figcaption>
        <a href=""></a>

    </figure>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
    <figure class="effect-roxy">
        <img src="img/popular_c/city17.png" alt="" class="img-responsive">
        <figcaption>
            <div class="city-name">Orlando</div>
        </figcaption>
        <a href=""></a>
    </figure>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
    <figure class="effect-roxy">
        <img src="img/popular_c/city18.png" alt="" class="img-responsive">
        <figcaption>
            <div class="city-name">San Francisco</div>
        </figcaption>
    </figure>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
    <figure class="effect-roxy">
        <img src="img/popular_c/city19.png" alt="" class="img-responsive">
        <figcaption>
            <div class="city-name">Tampa</div>
        </figcaption>
        <a href=""></a>
    </figure>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
    <figure class="effect-roxy">
        <img src="img/popular_c/city20.png" alt="" class="img-responsive">
        <figcaption>
            <div class="city-name">Portland</div>
        </figcaption>
        <a href=""></a>
    </figure>
</div>
