<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 logo-wrap ">
                <a href="" class="footer-logo">
                    <img src="img/logo_concertics.svg" alt="Logo">
                </a>
            </div>
            <div class="col-md-5 margin-sm-15 footer-service-wrap">
                <ul class="footer-service">
                    <li>
                        <a href="">About us</a>
                    </li>
                    <li>
                        <a href="">Music blog</a>
                    </li>
                    <li>
                        <a href="">Contacts</a>
                    </li>
                    <li>
                        <a href="">Help</a>
                    </li>
                    <li>
                        <a href="">Terms Of Service</a>
                    </li>
                    <li>
                        <a href="">Support</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 margin-sm-15 col-sm-6">
                <div class="protection margin-xs-15 ">
                    <div class="footer-title">You protection</div>
                    <img src="img/safety.png" alt=""  class="img-responsive">
                </div>
            </div>
            <div class="col-md-3 margin-sm-15 col-sm-6">
                <div class="protection margin-xs-15 ">
                    <div class="footer-title">Verified by</div>
                    <img src="img/pays.png" alt="" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copyright">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                Concetrtics © 2017
            </div>
        </div>
    </div>
</div>

//= all-artist-modal.html
//= on-tour.html


<!-- Templates -->
    <script id="catsItem" type="text/x-jquery-tmpl">
        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 wow animated fadeIn" data-wow-duration="1s">
            <div class="cats-list-box">
                <img src="${img}" alt="${title}" class="img-responsive" srcset="${img} 400w">
                <div class="cats-list">
                    <h2 class="title">${title}</h2>
                    {%if $data.subcats %}
                    <ul class="cats-list-sub">
                        {%each $data.subcats %}
                        <li>
                            <a href="${subcatsUrl}" title="${subcatsTitle}">${subcatsTitle}</a>
                        </li>
                        {%/each%}
                    </ul>
                    {%/if%}
                </div>
            </div>
        </div>
	</script>
<!-- End Templates -->


<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/enquire.min.js"></script>
<script src="js/magnific.js"></script>
<script src="js/socials.js"></script>
<script src="js/responsive-tabs.js"></script>
<script src="js/jquery.tmpl.js"></script>
<script src="js/main.js"></script>
<script src="https://use.fontawesome.com/a2e418ff03.js" async></script>

</body>

</html>

