<div class="cd-popup" role="alert" id="on-tour-now">

    <button class="cd-popup-close img-replace">
        Close
    </button>

    <div class="menu-wrap cd-popup-container">
        <div class="menu-title">
            ON TOUR NOW
        </div>
        <div class="menu-list flex-row flex-space on-tour">
            <div class="cat-item">
                <div class="cat-title"><a href="">POP/ROCKsssssssssssssssssss</a></div>
                <ul>
                    <li><a href="">J. Cole</a></li>
                    <li><a href="">Jack Johnson</a></li>
                    <li><a href="">James Taylorsssssssssssssss</a></li>
                    <li><a href="">John Mayer</a></li>
                    <li><a href="">Justin Bieber</a></li>
                    <li><a href="">Lady Gaga</a></li>
                    <li><a href="">Lollapalooza</a></li>
                    <li><a href="">Luke Bryan</a></li>
                </ul>
            </div>
            <div class="cat-item">
                <div class="cat-title"><a href="">R&B / SOUL</a></div>
                <ul>
                    <li><a href="">J. Cole</a></li>
                    <li><a href="">Jack Johnson</a></li>
                    <li><a href="">James Taylor</a></li>
                    <li><a href="">John Mayer</a></li>
                    <li><a href="">Justin Bieber</a></li>
                    <li><a href="">Lady Gaga</a></li>
                    <li><a href="">Lollapalooza</a></li>
                    <li><a href="">Luke Bryan</a></li>
                </ul>
            </div>
            <div class="cat-item">
                <div class="cat-title"><a href="">ALTERNATIVE</a></div>
                <ul>
                    <li><a href="">J. Cole</a></li>
                    <li><a href="">Jack Johnson</a></li>
                    <li><a href="">James Taylor</a></li>
                    <li><a href="">John Mayer</a></li>
                    <li><a href="">Justin Bieber</a></li>
                    <li><a href="">Lady Gaga</a></li>
                    <li><a href="">Lollapalooza</a></li>
                    <li><a href="">Luke Bryan</a></li>
                </ul>
            </div>
            <div class="cat-item">
                <div class="cat-title"><a href="">FESTIVAL</a></div>
                <ul>
                    <li><a href="">J. Cole</a></li>
                    <li><a href="">Jack Johnson</a></li>
                    <li><a href="">James Taylor</a></li>
                    <li><a href="">John Mayer</a></li>
                    <li><a href="">Justin Bieber</a></li>
                    <li><a href="">Lady Gaga</a></li>
                    <li><a href="">Lollapalooza</a></li>
                    <li><a href="">Luke Bryan</a></li>
                </ul>
            </div>
            <div class="cat-item">
                <div class="cat-title"><a href="">RAP/HIP-HOP</a></div>
                <ul>
                    <li><a href="">J. Cole</a></li>
                    <li><a href="">Jack Johnson</a></li>
                    <li><a href="">James Taylor</a></li>
                    <li><a href="">John Mayer</a></li>
                    <li><a href="">Justin Bieber</a></li>
                    <li><a href="">Lady Gaga</a></li>
                    <li><a href="">Lollapalooza</a></li>
                    <li><a href="">Luke Bryan</a></li>
                </ul>
            </div>
            <div class="cat-item">
                <div class="cat-title"><a href="">JAZZ/BLUES</a></div>
                <ul>
                    <li><a href="">J. Cole</a></li>
                    <li><a href="">Jack Johnson</a></li>
                    <li><a href="">James Taylor</a></li>
                    <li><a href="">John Mayer</a></li>
                    <li><a href="">Justin Bieber</a></li>
                    <li><a href="">Lady Gaga</a></li>
                    <li><a href="">Lollapalooza</a></li>
                    <li><a href="">Luke Bryan</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>