<ul class="flat-pagination list-inline">
    <li class="pagination__item"><a class="pagination__btn">&laquo;</a></li>
    <li class="pagination__item"><a class="pagination__btn">&lsaquo;</a></li>
    <li class="pagination__item"><a class="pagination__btn active" href="">1</a></li>
    <li class="pagination__item"><a class="pagination__btn" href="">2</a></li>
    <li class="pagination__item"><a class="pagination__btn" href="">3</a></li>
    <li class="pagination__item"><a class="pagination__btn" href="">4</a></li>
    <li class="pagination__item"><a class="pagination__btn" href="">5</a></li>
    <li class="pagination__item"><a class="pagination__btn" href="">&rsaquo;</a></li>
    <li class="pagination__item"><a class="pagination__btn" href="">&raquo;</a></li>
</ul>