<div class="row states-el-row">
    <div class="col-md-2 col-sm-4 col-xs-12">
        <figure class="effect-roxy">
            <img src="img/single_state/img1.png" alt="" class="img-responsive">
            <figcaption>
                <div class="city-name">Florida</div>
            </figcaption>
            <a href=""></a>
        </figure>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-12">
        <figure class="effect-roxy">
            <img src="img/single_state/Layer 10.png" alt="" class="img-responsive">
            <figcaption>
                <div class="city-name">Havai</div>
            </figcaption>
            <a href=""></a>
        </figure>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-12">
        <figure class="effect-roxy">
            <img src="img/single_state/Layer 11.png" alt="" class="img-responsive">
            <figcaption>
                <div class="city-name">Alaska</div>
            </figcaption>
            <a href=""></a>
        </figure>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-12">
        <figure class="effect-roxy">
            <img src="img/single_state/Layer 121.png" alt="" class="img-responsive">
            <figcaption>
                <div class="city-name">Dallas</div>
            </figcaption>
            <a href=""></a>
        </figure>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-12">
        <figure class="effect-roxy">
            <img src="img/single_state/Layer 122.png" alt="" class="img-responsive">
            <figcaption>
                <div class="city-name">Boston</div>
            </figcaption>
            <a href=""></a>
        </figure>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-12">
        <figure class="effect-roxy">
            <img src="img/single_state/Layer 123.png" alt="" class="img-responsive">
            <figcaption>
                <div class="city-name">San Diego</div>
            </figcaption>
        </figure>
    </div>
</div>

<div class="row states-el-row">
    <div class="col-md-2 col-sm-4 col-xs-12">
        <figure class="effect-roxy">
            <img src="img/single_state/Layer9.png" alt="" class="img-responsive">
            <figcaption>
                <div class="city-name">Las Vegas</div>
            </figcaption>
            <a href=""></a>
        </figure>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-12">
        <figure class="effect-roxy">
            <img src="img/single_state/Layer9.png" alt="" class="img-responsive">
            <figcaption>
                <div class="city-name">Houston</div>
            </figcaption>
            <a href=""></a>
        </figure>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-12">
        <figure class="effect-roxy">
            <img src="img/single_state/Layer9.png" alt="" class="img-responsive">
            <figcaption>
                <div class="city-name">Phoenix</div>
            </figcaption>
            <a href=""></a>
        </figure>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-12">
        <figure class="effect-roxy">
            <img src="img/single_state/Layer9.png" alt="" class="img-responsive">
            <figcaption>
                <div class="city-name">Seattle</div>
            </figcaption>
            <a href=""></a>
        </figure>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-12">
        <figure class="effect-roxy">
            <img src="img/single_state/Layer 123.png" alt="" class="img-responsive">
            <figcaption>
                <div class="city-name">Nashville</div>
            </figcaption>
            <a href=""></a>
        </figure>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-12">
        <figure class="effect-roxy">
            <img src="img/single_state/Layer9.png" alt="" class="img-responsive">
            <figcaption>
                <div class="city-name">Detroit</div>
            </figcaption>
            <a href=""></a>
        </figure>
    </div>
</div>

<div class="row states-el-row">
    <div class="col-md-2 col-sm-4 col-xs-12">
        <figure class="effect-roxy">
            <img src="img/single_state/Layer9.png" alt="" class="img-responsive">
            <figcaption>
                <div class="city-name">Kansas city</div>
            </figcaption>
            <a href=""></a>
        </figure>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-12">
        <figure class="effect-roxy">
            <img src="img/single_state/Layer9.png" alt="" class="img-responsive">
            <figcaption>
                <div class="city-name">Austin</div>
            </figcaption>
            <a href=""></a>
        </figure>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-12">
        <figure class="effect-roxy">
            <img src="img/single_state/Layer9.png" alt="" class="img-responsive">
            <figcaption>
                <div class="city-name">Miami</div>
            </figcaption>
            <a href=""></a>

        </figure>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-12">
        <figure class="effect-roxy">
            <img src="img/single_state/Layer 123.png" alt="" class="img-responsive">
            <figcaption>
                <div class="city-name">Orlando</div>
            </figcaption>
            <a href=""></a>
        </figure>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-12">
        <figure class="effect-roxy">
            <img src="img/single_state/Layer9.png" alt="" class="img-responsive">
            <figcaption>
                <div class="city-name">San Francisco</div>
            </figcaption>
        </figure>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-12">
        <figure class="effect-roxy">
            <img src="img/single_state/Layer9.png" alt="" class="img-responsive">
            <figcaption>
                <div class="city-name">Tampa</div>
            </figcaption>
            <a href=""></a>
        </figure>
    </div>
</div>

<div class="row states-el-row">
    <div class="col-md-2 col-sm-4 col-xs-12">
        <figure class="effect-roxy">
            <img src="img/single_state/Layer 122.png" alt="" class="img-responsive">
            <figcaption>
                <div class="city-name">Kansas city</div>
            </figcaption>
            <a href=""></a>
        </figure>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-12">
        <figure class="effect-roxy">
            <img src="img/single_state/Layer9.png" alt="" class="img-responsive">
            <figcaption>
                <div class="city-name">Austin</div>
            </figcaption>
            <a href=""></a>
        </figure>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-12">
        <figure class="effect-roxy">
            <img src="img/single_state/Layer 122.png" alt="" class="img-responsive">
            <figcaption>
                <div class="city-name">Miami</div>
            </figcaption>
            <a href=""></a>

        </figure>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-12">
        <figure class="effect-roxy">
            <img src="img/single_state/Layer9.png" alt="" class="img-responsive">
            <figcaption>
                <div class="city-name">Orlando</div>
            </figcaption>
            <a href=""></a>
        </figure>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-12">
        <figure class="effect-roxy">
            <img src="img/single_state/Layer9.png" alt="" class="img-responsive">
            <figcaption>
                <div class="city-name">San Francisco</div>
            </figcaption>
        </figure>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-12">
        <figure class="effect-roxy">
            <img src="img/single_state/Layer9.png" alt="" class="img-responsive">
            <figcaption>
                <div class="city-name">Tampa</div>
            </figcaption>
            <a href=""></a>
        </figure>
    </div>
</div>

<div class="row states-el-row states-el-row states-el-row">
    <div class="col-md-2 col-sm-4 col-xs-12">
        <figure class="effect-roxy">
            <img src="img/single_state/Layer 122.png" alt="" class="img-responsive">
            <figcaption>
                <div class="city-name">Kansas city</div>
            </figcaption>
            <a href=""></a>
        </figure>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-12">
        <figure class="effect-roxy">
            <img src="img/single_state/Layer9.png" alt="" class="img-responsive">
            <figcaption>
                <div class="city-name">Austin</div>
            </figcaption>
            <a href=""></a>
        </figure>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-12">
        <figure class="effect-roxy">
            <img src="img/single_state/Layer9.png" alt="" class="img-responsive">
            <figcaption>
                <div class="city-name">Miami</div>
            </figcaption>
            <a href=""></a>

        </figure>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-12">
        <figure class="effect-roxy">
            <img src="img/single_state/Layer9.png" alt="" class="img-responsive">
            <figcaption>
                <div class="city-name">Orlando</div>
            </figcaption>
            <a href=""></a>
        </figure>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-12">
        <figure class="effect-roxy">
            <img src="img/single_state/Layer9.png" alt="" class="img-responsive">
            <figcaption>
                <div class="city-name">San Francisco</div>
            </figcaption>
        </figure>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-12">
        <figure class="effect-roxy">
            <img src="img/single_state/Layer 122.png" alt="" class="img-responsive">
            <figcaption>
                <div class="city-name">Tampa</div>
            </figcaption>
            <a href=""></a>
        </figure>
    </div>
</div>

