<div class="col-md-3 col-sm-6 col-xs-12">
    <figure class="effect-roxy">
        <img src="img/popular_venue/venue1.png" alt="" class="img-responsive">
        <figcaption>
            <div class="city-name">3rd & Lindsley</div>
        </figcaption>
        <a href=""></a>
    </figure>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
    <figure class="effect-roxy">
        <img src="img/popular_venue/venue2.png" alt="" class="img-responsive">
        <figcaption>
            <div class="city-name">AT&T Stadium</div>
        </figcaption>
        <a href=""></a>
    </figure>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
    <figure class="effect-roxy">
        <img src="img/popular_venue/venue3.png" alt="" class="img-responsive">
        <figcaption>
            <div class="city-name">Hippodrome Theatre</div>
        </figcaption>
        <a href=""></a>
    </figure>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
    <figure class="effect-roxy">
        <img src="img/popular_venue/venue4.png" alt="" class="img-responsive">
        <figcaption>
            <div class="city-name">Saxe Theater</div>
        </figcaption>
        <a href=""></a>
    </figure>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
    <figure class="effect-roxy">
        <img src="img/popular_venue/venue5.png" alt="" class="img-responsive">
        <figcaption>
            <div class="city-name">Blue Man Theater </div>
        </figcaption>
        <a href=""></a>
    </figure>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
    <figure class="effect-roxy">
        <img src="img/popular_venue/venue6.png" alt="" class="img-responsive">
        <figcaption>
            <div class="city-name">Laugh Factory</div>
        </figcaption>
        <a href=""></a>
    </figure>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
    <figure class="effect-roxy">
        <img src="img/popular_venue/venue7.png" alt="" class="img-responsive">
        <figcaption>
            <div class="city-name">Windows at Bally's</div>
        </figcaption>
    </figure>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
    <figure class="effect-roxy">
        <img src="img/popular_venue/venue8.png" alt="" class="img-responsive">
        <figcaption>
            <div class="city-name">Thunder From Down Under Theatre</div>
        </figcaption>
        <a href=""></a>
    </figure>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
    <figure class="effect-roxy">
        <img src="img/popular_venue/venue9.png" alt="" class="img-responsive">
        <figcaption>
            <div class="city-name">V Theater Upstairsv</div>
        </figcaption>
        <a href=""></a>
    </figure>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
    <figure class="effect-roxy">
        <img src="img/popular_venue/venue10.png" alt="" class="img-responsive">
        <figcaption>
            <div class="city-name">Stratosphere</div>
        </figcaption>
        <a href=""></a>
    </figure>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
    <figure class="effect-roxy">
        <img src="img/popular_venue/venue11.png" alt="" class="img-responsive">
        <figcaption>
            <div class="city-name">Blackbird Ordinary</div>
        </figcaption>
        <a href=""></a>
    </figure>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
    <figure class="effect-roxy">
        <img src="img/popular_venue/venue11.png" alt="" class="img-responsive">
        <figcaption>
            <div class="city-name">U Street Music Hall</div>
        </figcaption>
        <a href=""></a>
    </figure>
</div>
